<template>
  <main
    class="apcDefaultPresentation presentation"
    :class="login ? 'min-vh-100 d-flex' : ''"
  >
    <!-- PageTitle -->
    <vue-headful :title="pageTitle" />
    <!-- NO SHARE -->
    <template v-if="share === false">
      <div class="d-block text-center mt-5">
        <span
          class="b-avatar badge-primary rounded-circle p-1 mb-4"
          style="width: 6rem; height: 6rem;"
        >
          <span class="b-avatar-img">
            <svg
              version="1.1"
              x="0px"
              y="0px"
              viewBox="0 0 300 300"
              class="w-100"
            >
              <g>
                <path
                  class="fill-white"
                  d="M75.3,110.3c12-29.2,40.8-49.8,74.2-49.8c33.6,0,62.4,20.8,74.4,50.1L300,288.2V0H0v285.8 L75.3,110.3L75.3,110.3z"
                ></path>
                <path
                  class="fill-white"
                  d="M149.5,84.3c-31.2,0-56.6,25.4-56.6,56.6c0,31.2,25.4,56.6,56.6,56.6s56.6-25.4,56.6-56.6 c0-7.4-1.5-14.5-4.1-21l-0.1-0.2l0,0C193.5,99,173.2,84.3,149.5,84.3z"
                ></path>
                <path
                  class="fill-white"
                  d="M223.9,170.9c-11.9,29.4-40.8,50.3-74.4,50.3c-33.7,0-62.5-20.9-74.4-50.3L19.7,300h259.5 L223.9,170.9z"
                ></path>
              </g>
            </svg>
          </span>
        </span>
        <h3>No share available for your request.</h3>
        <p>Please check if you typed the url correctly?</p>
      </div>
    </template>
    <!-- THIS SHARE NEEDS VALIDATION -->
    <div v-if="login" id="login" class="bg-white p-3 rounded shadow">
      <div class="d-block text-center">
        <span
          class="b-avatar badge-white rounded-circle p-1 mb-4"
          style="width: 6rem; height: 6rem;"
        >
          <span class="b-avatar-img">
            <svg
              version="1.1"
              x="0px"
              y="0px"
              viewBox="0 0 300 300"
              class="w-100"
            >
              <g>
                <path
                  class="fill-primary"
                  d="M75.3,110.3c12-29.2,40.8-49.8,74.2-49.8c33.6,0,62.4,20.8,74.4,50.1L300,288.2V0H0v285.8 L75.3,110.3L75.3,110.3z"
                ></path>
                <path
                  class="fill-primary"
                  d="M149.5,84.3c-31.2,0-56.6,25.4-56.6,56.6c0,31.2,25.4,56.6,56.6,56.6s56.6-25.4,56.6-56.6 c0-7.4-1.5-14.5-4.1-21l-0.1-0.2l0,0C193.5,99,173.2,84.3,149.5,84.3z"
                ></path>
                <path
                  class="fill-primary"
                  d="M223.9,170.9c-11.9,29.4-40.8,50.3-74.4,50.3c-33.7,0-62.5-20.9-74.4-50.3L19.7,300h259.5 L223.9,170.9z"
                ></path>
              </g>
            </svg>
          </span>
        </span>
        <h3>Hi {{`${share.properties.name[0].toUpperCase()}${share.properties.name.slice(1)}`}},</h3>
        <p>
          Please enter your personal invitation code to view this presentation
        </p>
         
        <b-input v-model="loginCode" placeholder="Your code " />
        <b-button variant="primary" class="mt-3" @click.prevent="verifyCode"
          >Validate</b-button
        >
       <b-alert class="mt-3" variant="primary" :show="loginErrorMessage != false"> {{loginErrorMessage}}</b-alert>
      </div>
    </div>
    <!-- /. END NEEDS VALIDATION -->
    <!-- PRESENTATION -->
    <template
      v-if="!login && !_.isEmpty(share) && !_.isEmpty(currentPresentation)"
    >
      <!-- HEADER -->
      <header
        v-if="!_.isEmpty(share) && !_.isEmpty(currentPresentation)"
        class="position-fixed text-white liBreadCrumbs"
        style="z-index:1009; left:50px; top: 20px;"
      >
        <p v-if="!_.has(currentPresentation.properties,'code')" id="presentationName"
        :style="{
          backgroundColor: `${currentPresentation.properties.brandingSettings.navbarBgColor}!important`,
          color: `${currentPresentation.properties.brandingSettings.navbarTextColor}!important`
        }">
          <span
            class="ml-3 d-inline-block cursor-pointer"
            @click.prevent="resetPresentation"
            v-b-tooltip.hover.bottom="'Go back to the start of this share'"
            >{{`${share.properties.name[0].toUpperCase()}${share.properties.name.slice(1)}`}}
          </span>
          <b-icon icon="caret-right" class="mx-2" />
          <span>{{ currentPresentation.properties.name }}</span>
          <b-icon icon="caret-right" class="mx-2" />
          <span v-if="!_.isEmpty(currentSlide)">{{
            currentSlide.properties.name
          }}</span>
        </p>
      </header>
      <!-- /. HEADER -->
      <!-- PAUSE CONTAINER -->
      <aside
        id="pauseContainer"
        class="asideContainer"
        v-if="!_.isEmpty(asideContainer) && asideContainer == 'pause'"
        :class="
          container[asideContainer].class != ''
            ? container[asideContainer].class
            : ''
        "
      >
        <header class="d-flex justify-content-between">
          <!-- <h3 class="w-75 p-3">Pause</h3> -->
          <h3 class="w-75 p-3">
            <b-button
              variant="outline-secondary"
              size="sm"
              class="btn-round"
              @click.prevent="resetPresentation"
              v-b-tooltip.hover.left="'Go back to the start of this share'"
            >
              <b-icon icon="arrow-counterclockwise"></b-icon>
            </b-button>
            {{ share.properties.name }}
          </h3>
          <div class="w-25 text-right p-3">
            <b-button
              @click.prevent="closeAside"
              variant="outline-primary"
              class="text-right btn-round p-0 text-center"
            >
              <b-icon-x />
            </b-button>
          </div>
        </header>
        <hr class="mt-0" />
        <main class="p-3">
          <div class="inner">
            <!-- PROCESS CONTAINER -->
            <liProcessCanvasLive
              :block="currentPresentation"
              :presentation="currentPresentation"
              :nodeSelected="currentSlide"
              :currentSlide="currentSlide"
              :share="true"
              @goToSlide="goToSlide"
            />
          </div>
        </main>
        <aside
          id="breadCrumbsContainer"
          v-if="!_.isEmpty(asideContainer) && asideContainer == 'pause'"
          :class="
            container[asideContainer].class != ''
              ? container[asideContainer].class
              : ''
          "
        >
          <header class="bg-light px-3">
            <h3 class="w-100 pt-3">History</h3>
            <hr class="mt-0" />
          </header>

          <template
            v-for="(breadCrumb, label, presentationIndex) in breadCrumbs"
          >
            <ul
              :key="presentationIndex"
              class="list-group list-group-flush border-0 mx-3 mt-2"
            >
              <li class="list-group-item">
                <h5>{{ label | labelTruncate }}</h5>
                <hr class="mb-1" />
                <ul class="list-group list-group-flush border-0 p-0">
                  <template v-for="(slide, stepsIndex) in breadCrumb">
                    <li :key="stepsIndex" class="list-group-item py-1 px-0">
                      <!-- <span class="callStackLink cursor-pointer" disabled @click.prevent="goToSlide(slide, 'history')"> {{slide.slideName}}</span> -->
                      <span class="callStackLink">
                        <b-icon
                          icon="signpost-fill"
                          v-if="slide.slideType === 'portal'"
                          class="mr-2"
                        />
                        {{ slide.slideName }}
                      </span>
                    </li>
                  </template>
                </ul>
              </li>
            </ul>
          </template>
        </aside>
      </aside>
      <!-- /.PAUSE CONTAINER -->
      <!-- COMMENTS CONTAINER -->
      <aside
        id="commentsContainer"
        class="asideContainer small"
        v-if="
          comments && !_.isEmpty(asideContainer) && asideContainer == 'comment'
        "
        :class="
          container[asideContainer].class != ''
            ? container[asideContainer].class
            : ''
        "
      >
        <header class="d-flex justify-content-between">
          <h3 class="w-75 p-3">Comments</h3>
          <div class="w-25 text-right p-3">
            <b-button
              @click.prevent="closeAside"
              variant="outline-primary"
              class="text-right btn-round p-0 text-center"
            >
              <b-icon-x />
            </b-button>
          </div>
        </header>
        <hr class="mt-0" />
        
        <liComments
          :currentSlide="currentSlide"
          :currentShare="$route.params.share"
          :user="share.properties.name"
          :notes="currentComments"
          @addComment="addComment"
          @updateComment="updateComment"
        />
      </aside>
      <!-- /.COMMENTS CONTAINER -->
      <!-- BACKDROP  -->
      <aside
        class="asideBackdrop cursor-pointer"
        v-if="!_.isEmpty(asideContainer)"
        :class="container[asideContainer].class"
        @click.prevent="closeAside"
      />
      




      <template v-if="!_.isEmpty(currentSlide)">
        <!-- DEFAULT BUTTONS -->
        <nav
          id="defaultButtonsInContent"
          v-if="
            !_.isEmpty(currentSlideButtons) &&
              (currentSlide.properties.type == 0 ||
                currentSlide.properties.links_visible == 1)
          "
          class="p-1 rounded shadow text-center"
        >
          <template v-for="(button, index) in currentSlideButtons">
            <b-button
              v-if="findNodeWithID(button.properties.to).type != 2"
              @click.prevent="btnClick(button)"
              :key="index"
              class="defaultBtn"
              :style="computedButtonStyle(button)"
            >
              <span
                v-if="!_.isEmpty(button.properties.icon)"
                class="mr-2"
                :class="button.properties.icon"
              />
              <template v-if="!_.isEmpty(button.properties.name)">
                {{ button.properties.name }}
              </template>
              <template v-else>
                <i>No label set...</i>
              </template>
            </b-button>
          </template>
        </nav>
        <!-- /. DEFAULT BUTTONS -->
        <!-- DEFAULT NAVIGATION -->
        <nav
          id="defaultNavigationButtons"
          class="p-2 rounded shadow text-center"
        >
          <b-button
            @click.prevent="slideBack"
            variant="light"
            class="back control-btn"
            v-b-tooltip.hover.top="'Go back'"
          >
            <b-icon icon="caret-left" />
          </b-button>
          <b-button
            @click.prevent="resetPresentation"
            variant="light"
            class="reset control-btn"
            v-b-tooltip.hover.top="'Go back to the start of this presentation'"
          >
            <b-icon icon="skip-backward" />
          </b-button>
          <b-button
            v-if="comments"
            @click.prevent="openAside('comment')"
            variant="light"
            class="comment control-btn"
            v-b-tooltip.hover.top="'Show comments'"
          >
            <b-icon icon="chat" />
          </b-button>
          <b-button
            @click.prevent="openAside('pause')"
            variant="light"
            class="pause control-btn"
            v-b-tooltip.hover.top="'Pause the presentation'"
          >
            <b-icon icon="pause" />
          </b-button>
          <b-button
            @click.prevent="slideNext"
            variant="light"
            class="record control-btn"
            v-b-tooltip.hover.top="'Go foreward'"
          >
            <b-icon icon="caret-right" />
          </b-button>
        </nav>
        <!-- /. DEFAULT NAVIGATION -->


        <!-- CONTENT -->
        <!-- DEFAULT SLIDE -->
        <b-container
          v-if="currentSlide.properties.type == 0"
          id="defaultSlide"
          class="d-flex p-0"
        >
          <section class="defaultSlideContent m-auto w-100  position-relative">
            <div class="inner bg-white rounded shadow">
              <div
                id="defaultDescription"
                class="p-3 my-3"
                v-html="currentSlide.properties.description"
              />
            </div>
          </section>
        </b-container>
        <!-- PORTAL SLIDE -->
        <b-container
          v-if="currentSlide.properties.type == 1"
          id="portalSlide"
          class="d-flex p-0"
        >
        </b-container>
        <!-- NOTE SLIDE -->
        <b-container
          v-if="currentSlide.properties.type == 2"
          id="noteSlide"
          class="d-flex p-0"
        >
        </b-container>
        <!-- CUSTOM CONTENT SLIDE -->
        <b-container
          ref="customSlide"
          v-if="
            currentSlide.properties.type == 3 &&
              !_.isEmpty(currentSlideCustomContent)
          "
          id="customSlide"
          class="d-flex p-0"
        >
        <div  id="customSlideContent" :style="computeSlideStyle()" class="m-auto p-3 w-100 rounded shadow position-relative">
          <div
            class="apcGrid grid-stack w-100 position-relative"
            data-gs-static-grid
            :key="'grid' + currentSlide.properties.identifier"
          >
            <template v-for="(liveItem, index) in currentSlideCustomContent">
              <div
                class="grid-stack-item"
                :key="index"
                :data-gs-x="liveItem.x"
                :data-gs-y="liveItem.y"
                :data-gs-width="liveItem.width"
                :data-gs-height="liveItem.height"
              >
                <div class="grid-stack-item-content">
                  <component
                    :is="'liBuilder' + capitalize(liveItem.type) + 'Live'"
                    :block="liveItem"
                    :model="liveItem"
                    :componentStyle="
                      computedWidgetComponentStyle(liveItem.design)
                    "
                    :componentClass="
                      computedWidgetComponentClass(liveItem.design.classes)
                    "
                    @btnClick="btnClick"
                    @goToSlide="goToSlide"
                  />
                </div>
              </div>
            </template>
          </div>
          </div>
        </b-container>
        <!-- IF ELSE SLIDE -->
        <b-container
          v-if="currentSlide.properties.type == 4"
          id="ifelseSlide"
          class="d-flex p-0"
        >
        </b-container>
        <!-- /. END CONTENT -->


      </template>
    </template>
    <!-- /.END PRESENTATION -->
  </main>
</template>
<script>
import { GridStack } from "gridstack";
import textAreaWithBuilder from "../../components/forms/textAreaWithBuilder.vue";
export default {
  components: { textAreaWithBuilder },
  name: "share",
  data() {
    return {
      login: false,
      loginCode: "",
      loginErrorMessage:false,
      comments: false,
      currentComments:null,
      pageTitle: "Loading ....",
      currentPresentation: null,
      currentSlideButtons: null,
      currentSlide: null,
      currentSlideCustomContent: null,
      currentSlideContentSettings: null,
      asideContainer: null,
      container: {
        comment: {
          class: "",
        },
        pause: {
          class: "",
        },
      },
      grid: undefined,
    };
  },
  computed: {
    loading: {
      get() {
        return this.$store.getters["liStatic/getLoading"];
      },
      set(status) {
        this.$store.commit("liStatic/setLoading", status);
      },
    },
    breadCrumbs: {
      get() {
        return this.$store.getters["liShare/getBreadCrumbs"];
      },
    },
    share() {
      return this.$store.getters["liShare/getShare"](this.$route.params.share);
    },
  },
  activated() {
    if (this._.isEmpty(this.share)) {
      this.getShare();
    } else {
      if (this.currentPresentation === null) {
        this.getPresentation();
      } else {
        this.getSlide();
      }
    }
  },
  filters: {
    labelTruncate(val) {
      let n = val.indexOf("-"),
        label;
      label = val.slice(n + 1);
      return label;
    },
  },
  methods: {
    addComment(comment){
      console.log(comment);
      if(!this._.isEmpty(comment)){
        const _newNote = {
          identifier: this.generateUUID(),
          share:this.share.properties.identifier,
          name: comment,
          slide: this.currentSlide.properties.identifier,
          presentation: this.currentSlide.properties.foreign_identifier,
          status: 0,
          user: this.share.properties.email,
          created_by: this.share.properties.name,
          created_at:  new Date().toISOString()
        };
        // INSERT ITEM - VIA STORE
        this.$store
          .dispatch("liShare/CREATE_NOTE", {
            item: _newNote
          })
          .then(() => {
            this.getCurrentSlideComments();
          });
        }
    },
    updateComment(comment){
      console.log(comment);
    },
    computeSlideStyle() {
      let slideStyle = "";
      slideStyle +=
        this.currentSlide.name_visible == 0 &&
        this.currentSlide.description_visible == 0
          ? "margin-top:100px; "
          : "";
      slideStyle +=
        this.currentSlideContentSettings.inlineStyles.backgroundColor != ""
          ? "background-color:" +
            this.currentSlideContentSettings.inlineStyles.backgroundColor +
            "; "
          : "background-color:#fff;";
      slideStyle +=
        this.currentSlideContentSettings.inlineStyles.textColor != ""
          ? "color:" +
            this.currentSlideContentSettings.inlineStyles.textColor +
            "; "
          : "";
      return slideStyle;
    },
    computedWidgetComponentClass(item) {
      let classValue = "";
      for (const value of Object.values(item)) {
        if (value) {
          classValue += value + " ";
        }
      }
      return classValue;
    },
    computedWidgetComponentStyle(item) {
      let styleValue = "";
      for (const [key, value] of Object.entries(item.inlineStyles)) {
        if (!this._.isEmpty(value)) {
          const styleAttribute = key.replace(/[A-Z]/g, "-$&").toLowerCase();
          let ignore = false;
          ignore =
            !item.settings.paddingLinked && styleAttribute === "padding"
              ? true
              : false;
          ignore =
            !item.settings.marginLinked && styleAttribute === "margin"
              ? true
              : false;
          ignore =
            !item.settings.borderSizeLinked && styleAttribute === "border-width"
              ? true
              : false;
          ignore =
            !item.settings.borderRadiusLinked &&
            styleAttribute === "border-radius"
              ? true
              : false;
          styleValue += !ignore
            ? styleAttribute + ":" + this.computeWidgetStyleValue(value) + "; "
            : "";
        }
      }
      return styleValue;
    },
    computeWidgetStyleValue(value) {
      let styleValue = value.toString().replace(/[,]+/g, " ");
      if (
        this.isNumeric(styleValue) &&
        !styleValue.endsWith("px", 2) &&
        !styleValue.endsWith("%", 1)
      ) {
        styleValue += "px";
      }
      return styleValue;
    },
    scrollIntoView() {
      document.documentElement.scrollTop =
        this.$refs.customSlide.offsetTop - 80;
    },
    slideNext() {
      this.$router.go(1);
    },
    slideBack() {
      this.$router.go(-1);
    },
    resetPresentation() {
      this.$router.push({
        path: `/share/${this.$route.params.share}`,
      });
    },
    openAside(container) {
      if (this.asideContainer != null) {
        this.closeOpenAside(container);
      } else {
        this.asideContainer = container;
        document.body.classList.add("--apcAsideOpen");
        this.showAside();
      }
    },
    closeOpenAside(newContainer) {
      this.container[this.asideContainer].class = "animating";
      let timeout = setTimeout(() => {
        clearTimeout(timeout);
        this.container[this.asideContainer].class = "";
        this.asideContainer = newContainer;
        this.showAside();
      }, 500);
    },
    closeAside() {
      this.container[this.asideContainer].class = "";
      let timeout = setTimeout(() => {
        clearTimeout(timeout);
        this.asideContainer = null;
        document.body.classList.remove("--apcAsideOpen");
      }, 500);
    },
    showAside() {
      let timeout = setTimeout(() => {
        clearTimeout(timeout);
        this.container[this.asideContainer].class = "active";
      }, 500);
    },
    computedButtonStyle(button) {
      let style = "";
      if (button.properties.bgColour != "") {
        style +=
          "background-color:" + button.properties.bgColour + "!important; ";
        style += "border-color:" + button.properties.bgColour + "!important;";
      }
      if (button.properties.textColour != "") {
        style += "color:" + button.properties.textColour + "!important;";
      }
      return style;
    },
    setupCustomSlideContent() {
      if (this.grid != undefined) {
        this.grid.destroy(false);
      }
      if (!this._.isEmpty(this.currentSlideCustomContent)) {
        this.$nextTick(() => {
          this.grid = GridStack.init(
            {
              staticGrid: true,
              float: true,
              cellHeight: "50px",
              animate: false,
            },
            ".apcGrid"
          );
        });
      }
    },
    addCustomToStore(toValue) {
      const VALUE_LOCATOR = toValue.indexOf("=");
      const VALUE_TO_SET = toValue.substring(0, VALUE_LOCATOR);
      const ACTUAL_VALUE = toValue.substring(VALUE_LOCATOR + 1, toValue.length);

      this.$store.dispatch("liShare/SET_CUSTOM_VALUE", {
        path: VALUE_TO_SET,
        value: ACTUAL_VALUE,
      });
    },
    btnClick(button) {
      const TO = this.findNodeWithID(button.properties.to);

      if (!this._.isEmpty(button.properties.toValue)) {
        this.addCustomToStore(button.properties.toValue);
      }
      this.goToSlide(TO);
    },
    // THIS NEED TO CHANGE
    goToSlide(slide, action = null) {
      this.loading = true;
      if (action == "aside") {
        this.closeAside();
        let timeout = setTimeout(() => {
          clearTimeout(timeout);
          this.$router.push(
            "/share/" +
              this.$route.params.share +
              // "/slide/" +
              "/" +
              this.currentPresentation.properties.identifier +
              "/" +
              slide.properties.identifier
          );
          this.loading = false;
        }, 1000);
      } else if (action == "history") {
        this.$router.push(
          "/share/" +
            this.$route.params.share +
            "/" +
            slide.presentationIdentifier +
            "/" +
            slide.slideIdentifier
        );
      } else {
        const canLink = this._.has(slide, "properties")
          ? this.findNodeWithID(slide.properties.identifier)
          : undefined;
        if (canLink != undefined) {
          this.$router.push(
            "/share/" +
              this.$route.params.share +
              "/" +
              this.currentPresentation.properties.identifier +
              "/" +
              slide.properties.identifier
          );
        } else {
          const h = this.$createElement;
          const messageNoStartSlide = h("div", {
            domProps: {
              innerHTML:
                "<h3>We're sorry!</h3><h5><i>The slide for this link doesn't exist, please try an other button to continue.</i></h5>",
            },
          });
          this.$bvModal.msgBoxOk([messageNoStartSlide], {
            title: "Link to non existing slide",
            headerBgVariant: "warning",
            headerTextVariant: "dark",
            size: "md",
            okTitle: "ok",
            buttonSize: "md",
            okVariant: "warning",
            okClass: "px-3",
            cancelVariant: "outline-danger",
            cancelClass: "d-none",
            headerClass: "p-2 border-bottom-0",
            bodyClass: "text-center p-5",
            footerClass:
              "p-2 border-top-0 apcModalFooter justify-content-center",
          });
        }
        this.loading = false;
      }
    },
    findNodeLinksOut(identifier) {
      const nodeLinksOut = this.currentPresentation.properties._allLinks.filter(
        (item) => {
          return identifier === item.properties.from;
        }
      );
      return this._.orderBy(
        nodeLinksOut,
        [(node) => node.properties.sequence],
        ["asc"]
      );
    },
    findNodeWithID(identifier) {
      return this.currentPresentation.properties._allSlides.find((item) => {
        return identifier === item.properties.identifier;
      });
    },
    verifyCode() {
      if(this.loginCode == this.share.properties.code){
          this.comments = true;
          this.login = false;
          localStorage.setItem(
            this.$route.params.share,
            JSON.stringify(this.loginCode)
          );
          this.getPresentation();
          this.loginCode = "";
      } else {
        this.loginErrorMessage = "The code is not correct, please try again.";
      }
    },
    reactivateCode(code) {
      let _code = JSON.parse(code);
        if(_code == this.share.properties.code){
          this.login = false;
          this.comments = true;
          localStorage.setItem(
            this.$route.params.share,
            JSON.stringify(_code)
          );
          this.$nextTick(()=>{
            this.getPresentation();
            this.loginCode = "";
          });
      } else {
        localStorage.removeItem(this.$route.params.share);
        this.login = true;
        this.pageTitle = "Please login...";
        this.loginErrorMessage = "";
      }
    },
    getStartSlide() {
      let startSlide = this.currentPresentation.properties._allSlides.filter(
        (item) => {
          return item.properties.start === "1";
        }
      );
      return startSlide[0];
    },
    getSlide() {
      if (this.share.properties.code){
        this.comments = true;
      }
      if (this.currentPresentation != null) {
        this.currentSlide =
          this.$route.params.slide != null
            ? this.findNodeWithID(this.$route.params.slide)
            : this.getStartSlide();
        if (this.currentSlide.properties.type == 0) {
          // DEFAULT SLIDE
          this.currentSlideButtons = this.findNodeLinksOut(
            this.currentSlide.properties.identifier
          );
          this.currentSlideContentSettings = JSON.parse(
            this.currentSlide.properties.content_settings
          );
          this.pageTitle = `${this.currentSlide.properties.name} | ${this.currentPresentation.properties.name} | AppCourt`;
          this.$store.dispatch("liShare/ADD_BREADCRUMB", {
            presentation: {
              name: this.currentPresentation.properties.name,
            },
            slide: {
              presentationIdentifier: this.currentSlide.properties
                .foreign_identifier,
              slideIdentifier: this.currentSlide.properties.identifier,
              slideName: this.currentSlide.properties.name,
              slideType: "default",
            },
          });
          if (this.comments){
            this.getCurrentSlideComments();
          }  else { 
            this.liLoading = false;
          }
        } else if (this.currentSlide.properties.type == 1) {
          // PORTAL
          let portalTo = JSON.parse(this.currentSlide.properties.portal_link);
          this.$store.dispatch("liShare/ADD_BREADCRUMB", {
            presentation: {
              name: this.currentPresentation.properties.name,
            },
            slide: {
              presentationIdentifier: this.currentSlide.properties
                .foreign_identifier,
              slideIdentifier: this.currentSlide.properties.identifier,
              slideName: this.currentSlide.properties.name,
              slideType: "portal",
            },
          });
          this.$store.dispatch("liShare/UPDATE_BRADCRUMBLEVEL");
          this.$router.push(
            `/share/${this.$route.params.share}/${portalTo.presentation}/${portalTo.slide}`
          );
        } else if (this.currentSlide.properties.type == 3) {
          // CUSTOM CONTENT SLIDE

          this.currentSlideButtons = this.findNodeLinksOut(
            this.currentSlide.properties.identifier
          );
          this.currentSlideContentSettings = JSON.parse(
            this.currentSlide.properties.content_settings
          );
          this.currentSlideCustomContent = JSON.parse(
            this.currentSlide.properties.content
          );
          this.setupCustomSlideContent();

          this.pageTitle = `${this.currentSlide.properties.name} | ${this.currentPresentation.properties.name} | AppCourt" `;

          this.$store.dispatch("liShare/ADD_BREADCRUMB", {
            presentation: {
              name: this.currentPresentation.properties.name,
            },
            slide: {
              presentationIdentifier: this.currentSlide.properties
                .foreign_identifier,
              slideIdentifier: this.currentSlide.properties.identifier,
              slideName: this.currentSlide.properties.name,
              slideType: "custom",
            },
          });
          if (this.comments){
            this.getCurrentSlideComments();
          } else {
            this.liLoading = false;
          }
        } else if (this.currentSlide.properties.type == 4) {
          // IF / ELSE SLIDE
          this.currentSlideButtons = this.findNodeLinksOut( 
            this.currentSlide.properties.identifier
          );
          this.currentSlideButtons.forEach((statement) => {
            if (!this._.isEmpty(statement.properties.ifRequest)) {
              if (statement.properties.ifRequest === "through") {
                this.btnClick(statement);
              } else {
                const ifArr = statement.properties.ifRequest.split(".");
                if (ifArr.length > 1) {
                  let test = this.pathIndex(
                    this.$store.state.liShare,
                    statement.properties.ifRequest
                  );
                  if (test === statement.properties.isValue) {
                    this.btnClick(statement);
                  }
                } else {
                  let test = this.$store.state.liShare.custom[
                    statement.properties.ifRequest
                  ];
                  if (test === statement.properties.isValue) {
                    this.btnClick(statement);
                  }
                }
              }
            } else {
              const h = this.$createElement;
              const messageNoStartSlide = h("div", {
                domProps: {
                  innerHTML:
                    "<h3>We're sorry!</h3><h5><i>There is an error in your statements.</h5>",
                },
              });
              this.$bvModal.msgBoxOk([messageNoStartSlide], {
                title: "Syntax error",
                headerBgVariant: "warning",
                headerTextVariant: "dark",
                size: "md",
                okTitle: "ok",
                buttonSize: "md",
                okVariant: "warning",
                okClass: "px-3",
                cancelVariant: "outline-danger",
                cancelClass: "d-none",
                headerClass: "p-2 border-bottom-0",
                bodyClass: "text-center p-5",
                footerClass:
                  "p-2 border-top-0 apcModalFooter justify-content-center",
              });
            }
          });
          this.$store.dispatch("liShare/ADD_BREADCRUMB", {
                presentation: {
                  name: this.currentPresentation.properties.name,
                },
                slide: {
                  presentationIdentifier: this.currentSlide.properties
                    .foreign_identifier,
                  slideIdentifier: this.currentSlide.properties.identifier,
                  slideName: this.currentSlide.properties.name,
                  slideType: "if else",
                },
              });
        }
      } else {
        this.pageTitle = "We're sorry...";
      }
    },
    getCurrentSlideComments(){
      this.$store
        .dispatch("liShare/GET_NOTES", {
          slideIdentifier: this.currentSlide.properties.identifier
        }).then((response)=>{
          this.currentComments = response;
          this.liLoading = false;
        });
    },
    
    getPresentation() {
      if (this.$route.params.presentation === undefined) {
        // THIS IS THE FIRST SLIDE
        this.currentPresentation = this.$store.getters[
          "liShare/getPresentation"
        ](this.share.properties.foreign_identifier);
        if (this.currentPresentation == null) {
           this.pageTitle = "We're sorry...";
        } else {
           if (typeof this.currentPresentation.properties.brandingSettings == "string"){
             this.currentPresentation.properties.brandingSettings = JSON.parse(this.currentPresentation.properties.brandingSettings);
           }
          this.getSlide();
        }
      } else {
        // TEST IF THE PRESENTATION IS AVAILABLE
        this.currentPresentation = this.$store.getters[
          "liShare/getPresentation"
        ](this.$route.params.presentation);
        if (this.currentPresentation == null) {
          // WE NEED TO GET AN OTHER PRESENTATION.... FIRST
          this.$store
            .dispatch("liShare/GET_PRESENTATION", {
              identifier:
                this.$route.params.presentation === undefined
                  ? this.share.properties.foreign_identifier
                  : this.$route.params.presentation
            })
            .then((response) => {
              
              this.currentPresentation = response;
              this.$store.dispatch("liShare/GET_LINKS", this.currentPresentation.properties.identifier).then((response)=>{
                this.currentPresentation.properties.allLinks = response;
              });
              this.$store.dispatch("liShare/GET_NODES", this.currentPresentation.properties.identifier).then((response)=>{
                this.currentPresentation.properties.allSlides = response;
                if (typeof this.currentPresentation.properties.brandingSettings == "string"){
             this.currentPresentation.properties.brandingSettings = JSON.parse(this.currentPresentation.properties.brandingSettings);
           }
                this.getSlide();
              });
            });
        } else {
          if (typeof this.currentPresentation.properties.brandingSettings == "string"){
             this.currentPresentation.properties.brandingSettings = JSON.parse(this.currentPresentation.properties.brandingSettings);
           }
          this.getSlide();
        }
      }
    },
    getShare() {
      if (this.$route.params.share) {
        document.body.classList.add("apcShare");
        this.loading = true;
        this.$store
          .dispatch("liShare/GET_SHARE", {
            identifier: this.$route.params.share,
            name: this.$route.params.share,
          })
          .then((response) => {
            if (response.properties.code) {
              let activeSession = localStorage.getItem(
                this.$route.params.share
              );
              if (activeSession != null) {
                this.reactivateCode(activeSession);
                this.pageTitle = "Restoring session...";
              } else {
                this.login = true;
                this.pageTitle = "Please login...";
              }
            } else {
              this.loading = false;
              this.getPresentation();
            }
          });
      } else {
        this.pageTitle = "No share available";
      }
    },
  },
};
</script>
