.liLogin {
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  width: 80%; 
  max-width: 640px; 
  min-width: 300px;
  z-index: 1;
}
.liLoginLogo {
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, 30%);
  width: 100%;
  max-width: 80px;
  min-width: 100px;
}