/*
 * BUILDER STYLING =-------------------------------------------------------------------
 */
.liBuilderContainer {
  position: fixed;
  z-index: 1010;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $light;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;

  .liBuilderGridStack {
    width: 100%;
    margin-top: 70px;
  }

  .liBuilderGridStackToolbar {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.5rem 1rem;
    align-items: center;
    background-color: $white;
    z-index: 80;
    width: 100%;

    .gstoolbar {
      .gswidgets {
        .liWidgets {
          box-shadow: 0px 12px 14px -1px rgba(52, 58, 64, 0.2) !important;
          left: -15px;
          top: 35px;
          background: $white;
          border-radius: 5px;
          padding: 5px;
          .icon{
            font-size: 15px;
          }
        }
      }
    }
  }
}

/*
 * GRID STACK BUILDER STYLING =--------------------------------------------------------
 */
// GRIDSTACK
.grid-stack {
  // background-color: $white;
  border: 1px dashed transparent;
  min-height: 600px;

  .grid-stack-item {
    border: 1px dashed transparent;
    &:hover{
      border: 1px dashed $dark;
    }
    .grid-stack-item-content {
      background-color: transparent;
      inset:0!important;
    }

    .liBuilderContent {
      // padding:15px;
    }

    .gstopbar {
      z-index: 91;
      width: 100%;
      height: 25px;
      position: absolute;
      top: 0px;
      left: 0px;
      top: -24px;
      line-height: 1;
      font-size: 10px;
      padding: 7px 10px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      color: $light;
      white-space: nowrap;
      // overflow: hidden;
      .gsremove {
        font-size: 0.6rem!important;
        margin-top: -4px;
      }
    }

    .gsdrag {
      cursor: move;
    }

    .ui-resizable-se {
      background: unset !important;

      right: 0 !important;
      bottom: 0 !important;

      &::before {
        color: $dark;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        margin: 4px;
        font-size: 20px;
        content: "\f0d7";
      }
    }

    .ui-resizable-sw {
      background: unset !important;
      left: 0 !important;
      bottom: 0 !important;

      &::before {
        color: $dark;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        margin: 4px;
        font-size: 20px;
        content: "\f0d7";
      }
    }
  }
}

// DRAG GRID STACK ITEM
.ui-draggable-dragging {
  // width: 50px !important;
  // height: 30px !important;
  // max-height: 30px !important;
  // min-height: unset !important;

  >* {
    display: none;
  }
}

// DRAG AND REMOVE GRID STACK ITEM
.grid-stack-item-removing {
  opacity: 1;
  background-color: $danger !important;

  .gstopbar {
    background-color: $danger !important;
  }

  >* {
    display: none;
  }
}

/*
 * WIDGET TOOLBAR DRAGGABLE BUTTONS STYLING =-----------------------------------------
 */
.newWidget {
  padding: 5px 10px;
  // border-radius: 0.25rem;
  cursor: grab;
  transition: background-color ease-in-out 0.3s;
  border: 0px dashed transparent !important;
  border-bottom: 1px solid $gray-300 !important;

  &:first-child {
    border-top: 1px solid $gray-300 !important;
  }

  &:last-child {
    border-bottom: 1px solid transparent !important;
  }

  &.ui-draggable-dragging {
    z-index: 1068 !important;
    border: 0px dashed transparent !important;
    background: rgba($primary, .5);
    width: 180px;
    min-width: 180px;
    height: 50px;
    min-height: 50px;
    padding: 5px 15px;
    display: block;

    .grid-stack-item-content {
      display: block;
      width: 150px;
      min-width: 150px;

    }
  }

  .icon {
    display: inline-block;
    font-size: 11px;
  }

}

/*
 * BASE WIDGET STYLING =--------------------------------------------------------------
 */
//  BOX MODEL


  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "p-name p-name p-name p-top p-fill-1 p-fill-1 p-fill-1"
      "p-fill-7 m-name m-name m-top m-fill-2 m-fill-2 p-fill-2"
      "p-fill-7 m-fill-1 pa-name pa-top pa-fill-1 m-fill-3 p-fill-2"
      "p-left m-left pa-left center pa-right m-right p-right"
      "p-fill-6 m-fill-7 pa-fill-3 pa-bottom pa-fill-2 m-fill-4 p-fill-3"
      "p-fill-6 m-fill-6 m-fill-6 m-bottom m-fill-5 m-fill-4 p-fill-3"
      "p-fill-5 p-fill-5 p-fill-5 p-bottom p-fill-4 p-fill-4 p-fill-3";
  }
  .grid-container .c {
    min-height: unset;
    padding: 1px;
      
    
      &.label {
        font-size: 10px;
      }
    
      &.p {
        background-color: $gray-400;
      }
    
      &.m {
        background-color: $gray-300;
      }
    
      &.b {
        background-color: $gray-200;
      }
    
      &.pa {
        background-color: $gray-100;
      }
    
  }
  .grid-container .c.label {
    padding: 8px 0 0 5px;
    font-size: 8px;
  }
  .grid-container .form-control-sm {
    font-size: 9px;
  }
  .p-left {
    grid-area: p-left;
  }
  .p-top {
    grid-area: p-top;
  }
  .p-right {
    grid-area: p-right;
  }
  .m-right {
    grid-area: m-right;
  }
  .pa-right {
    grid-area: pa-right;
  }
  .pa-left {
    grid-area: pa-left;
  }
  .m-left {
    grid-area: m-left;
  }
  .pa-top {
    grid-area: pa-top;
  }
  .m-top {
    grid-area: m-top;
  }
  .pa-bottom {
    grid-area: pa-bottom;
  }
  .m-bottom {
    grid-area: m-bottom;
  }
  .p-bottom {
    grid-area: p-bottom;
  }
  .p-name {
    grid-area: p-name;
  }
  .pa-name {
    grid-area: pa-name;
  }
  .m-name {
    grid-area: m-name;
  }
  .p-fill-1 {
    grid-area: p-fill-1;
  }
  .p-fill-2 {
    grid-area: p-fill-2;
  }
  .p-fill-3 {
    grid-area: p-fill-3;
  }
  .p-fill-4 {
    grid-area: p-fill-4;
  }
  .p-fill-5 {
    grid-area: p-fill-5;
  }
  .p-fill-6 {
    grid-area: p-fill-6;
  }
  .p-fill-7 {
    grid-area: p-fill-7;
  }
  .m-fill-1 {
    grid-area: m-fill-1;
  }
  .m-fill-2 {
    grid-area: m-fill-2;
  }
  .m-fill-3 {
    grid-area: m-fill-3;
  }
  .m-fill-4 {
    grid-area: m-fill-4;
  }
  .m-fill-5 {
    grid-area: m-fill-5;
  }
  .m-fill-6 {
    grid-area: m-fill-6;
  }
  .m-fill-7 {
    grid-area: m-fill-7;
  }
  .pa-fill-1 {
    grid-area: pa-fill-1;
  }
  .pa-fill-2 {
    grid-area: pa-fill-2;
  }
  .pa-fill-3 {
    grid-area: pa-fill-3;
  }
  .center {
    grid-area: center;
    background-color: #f8f9fa;
  }
// .box-model {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
//   grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
//   gap: 0px 0px;
//   grid-template-areas:
//     "p-fill-1 p-fill-1 p-fill-1 p-label p-top p-top p-fill-2 p-fill-2 p-fill-2 p-fill-2"
//     "p-fill-8 m-fill-1 m-fill-1 m-label m-top m-top m-fill-2 m-fill-2 m-fill-2 p-fill-3"
//     "p-fill-8 m-fill-8 br-top-left b-label bw-top bw-top b-fill-2 br-top-right m-fill-3 p-fill-3"
//     "p-fill-8 m-fill-8 b-fill-1 pa-label pa-top pa-top pa-fill-1 b-fill-3 m-fill-3 p-fill-3"
//     "p-left m-left bw-left pa-left center center pa-right bw-right m-right p-right"
//     "p-left m-left bw-left pa-left center center pa-right bw-right m-right p-right"
//     "p-fill-7 m-fill-7 b-fill-5 pa-fill-3 pa-bottom pa-bottom pa-fill-2 b-fill-4 m-fill-4 p-fill-4"
//     "p-fill-7 m-fill-7 br-bottom-left b-style bw-bottom bw-bottom b-width br-bottom-right m-fill-4 p-fill-4"
//     "p-fill-7 m-fill-6 m-fill-6 m-fill-6 m-bottom m-bottom m-fill-5 m-fill-5 m-fill-4 p-fill-4"
//     "p-fill-6 p-fill-6 p-fill-6 p-fill-6 p-bottom p-bottom p-fill-5 p-fill-5 p-fill-5 p-fill-4";

//   .c {
//     min-height: 50px;
//     padding: 10px;

//     &.label {
//       font-size: 10px;
//     }

//     &.p {
//       background-color: $gray-400;
//     }

//     &.m {
//       background-color: $gray-300;
//     }

//     &.b {
//       background-color: $gray-200;
//     }

//     &.pa {
//       background-color: $gray-100;
//     }
//   }

//   .p-top {
//     grid-area: p-top;
//   }

//   .m-top {
//     grid-area: m-top;
//   }

//   .bw-top {
//     grid-area: bw-top;
//   }

//   .pa-top {
//     grid-area: pa-top;
//   }

//   .pa-bottom {
//     grid-area: pa-bottom;
//   }

//   .bw-bottom {
//     grid-area: bw-bottom;
//   }

//   .m-bottom {
//     grid-area: m-bottom;
//   }

//   .p-bottom {
//     grid-area: p-bottom;
//   }

//   .pa-right {
//     grid-area: pa-right;
//   }

//   .pa-left {
//     grid-area: pa-left;
//   }

//   .bw-left {
//     grid-area: bw-left;
//   }

//   .m-left {
//     grid-area: m-left;
//   }

//   .p-left {
//     grid-area: p-left;
//   }

//   .center {
//     grid-area: center;
//   }

//   .bw-right {
//     grid-area: bw-right;
//   }

//   .m-right {
//     grid-area: m-right;
//   }

//   .p-right {
//     grid-area: p-right;
//   }

//   .br-top-left {
//     grid-area: br-top-left;
//   }

//   .br-top-right {
//     grid-area: br-top-right;
//   }

//   .br-bottom-right {
//     grid-area: br-bottom-right;
//   }

//   .br-bottom-left {
//     grid-area: br-bottom-left;
//   }

//   .p-label {
//     grid-area: p-label;
//   }

//   .m-label {
//     grid-area: m-label;
//   }

//   .b-label {
//     grid-area: b-label;
//   }

//   .pa-label {
//     grid-area: pa-label;
//   }

//   .b-style {
//     grid-area: b-style;
//   }

//   .b-width {
//     grid-area: b-width;
//   }

//   .p-fill-1 {
//     grid-area: p-fill-1;
//   }

//   .p-fill-2 {
//     grid-area: p-fill-2;
//   }

//   .p-fill-3 {
//     grid-area: p-fill-3;
//   }

//   .p-fill-4 {
//     grid-area: p-fill-4;
//   }

//   .p-fill-6 {
//     grid-area: p-fill-6;
//   }

//   .p-fill-5 {
//     grid-area: p-fill-5;
//   }

//   .p-fill-7 {
//     grid-area: p-fill-7;
//   }

//   .p-fill-8 {
//     grid-area: p-fill-8;
//   }

//   .m-fill-1 {
//     grid-area: m-fill-1;
//   }

//   .m-fill-2 {
//     grid-area: m-fill-2;
//   }

//   .m-fill-3 {
//     grid-area: m-fill-3;
//   }

//   .m-fill-4 {
//     grid-area: m-fill-4;
//   }

//   .m-fill-5 {
//     grid-area: m-fill-5;
//   }

//   .m-fill-6 {
//     grid-area: m-fill-6;
//   }

//   .m-fill-7 {
//     grid-area: m-fill-7;
//   }

//   .m-fill-8 {
//     grid-area: m-fill-8;
//   }

//   .b-fill-1 {
//     grid-area: b-fill-1;
//   }

//   .b-fill-2 {
//     grid-area: b-fill-2;
//   }

//   .b-fill-3 {
//     grid-area: b-fill-3;
//   }

//   .b-fill-4 {
//     grid-area: b-fill-4;
//   }

//   .b-fill-5 {
//     grid-area: b-fill-5;
//   }

//   .pa-fill-1 {
//     grid-area: pa-fill-1;
//   }

//   .pa-fill-2 {
//     grid-area: pa-fill-2;
//   }

//   .pa-fill-3 {
//     grid-area: pa-fill-3;
//   }
// }

/*
 * IMPORT WIDGET SPECIFIC STLYING 
 */
@import './widgets/libuildervideo';
@import './widgets/libuildertext';
@import './widgets/libuilderiframe';
@import './widgets/libuildertable';
@import './widgets/libuilderhotstpots';
@import './widgets/libuilderform';
@import './widgets/libuilderfile';
@import './widgets/libuilderdocument';
@import './widgets/libuilderdiagram';
@import './widgets/libuilderbuttons';
@import './widgets/libuilderobject';

/*
 * LIVE BUILDER STYLING =-------------------------------------------------------------
 */
.presentation{
 .grid-stack {
    .grid-stack-item {
      border: unset;
      &:hover{
        border: unset;
      }
    }
  }
}