.settingsPopover{
  min-width: 310px;
  .popover-body{
    padding:0px;
    min-width: 310px;
    }
}
.settingsDropdown{
  .b-dropdown-text{
    margin: 0;
    padding:10px;
  }
}
.help-block {
  font-size: 80%;

  &.errors {
    color: red;
  }
}

// COLOR PICKER
.liColorPicker {
  width: 100%;
}

.color-picker-container {
  position: relative;
  padding: 8px 8px 7px 8px;
  margin-top: -1px;
  background-color: $white;
  border: 1px solid $gray-300;

  .vc-compact,
  .vc-chrome,
  .vc-sketch {
    position: absolute;
    top: 35px;
    right: 0;
    z-index: 9;
  }

  .current-color {
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
}

.action.colour {
  .liColorFieldSmall.xs {
    .color-picker-container {
      height: 18px;
      max-height: 18px;
      width: 18px;
      max-width: 18px;
      padding: 3px;
      .vc-compact{
        top:15px;
      }
      .current-color {
        width: 10px;
        height: 10px;
        display: block;
      }
    }
  }
}


// ICON PICKER
.icon-picker-container {
  position: relative;
  padding: 8px 8px 7px 8px;
  margin-top: -1px;
  background-color: $white;
  border: 1px solid $gray-300;


  span {
    min-width: 16px;
    font-size: 18px;
  }
}

.icon-preview-fade-enter-active,
.icon-preview-fade-leave-active {
  transition: opacity 0.25s;
}

.icon-preview-fade-enter,
.icon-preview-fade-leave-to {
  opacity: 0;
}

.preview-container {
  width: 100%;
  position: relative;
}

.previewer {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 8px 16px rgba(0, 0, 0, 0.15);
  position: absolute;
  z-index: 500;
  width: 100%;
  min-height: 50px;
  height: 160px;
  max-height: 160px;
  overflow: auto;
  background: white;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.icon-preview {
  width: 20%;
  padding-top: 20%;
  position: relative;
  font-size: 80%;
  .icon-wrapper {
    position: absolute;
    height: 80%;
    width: 80%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover,
    &.selected {
      background: $primary;
      color: #fbfbfb;
    }

    i {
      font-size: 1vw;
    }
  }
}

.liGrid {
  margin-right: -30px;

  .liGridItem{
    transition: all .5s ease-in-out;
    will-change: background-color, opacity, box-shadow;
    min-height: 220px;
    height: 220px;
    max-height: 220px;
    width: calc(33% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;

    &:nth-child(3n+3) {
      margin-right: 0;
    }

    header {
      .card-title {}
    }

    .card-body {
      min-height: 125px;
    }

    footer {
      background-color: transparent;
    }
  }
}

.tree span {
  display: block;
  min-height: 30px;
  height: auto;
}
.ghost-tree {
  opacity: 0.3;
  background-color: $primary;
  footer,
  .footer{
    background-color: $primary!important;
  }
}

.liListItem {
  border: 0;
  border-left: 6px solid transparent;
}


// CUSTOM RANGE SLIDER

// Styling Cross-Browser Compatible Range Inputs with Sass
// Github: https://github.com/darlanrod/input-range-sass
// Author: Darlan Rod https://github.com/darlanrod
// Version 1.5.2
// MIT License

$track-color: $dark !default;
$thumb-color: $primary !default;

$thumb-radius: 12px !default;
$thumb-height: 11px !default;
$thumb-width: 11px !default;
$thumb-shadow-size: 0px !default;
$thumb-shadow-blur: 0px !default;
$thumb-shadow-color: transparent !default;
$thumb-border-width: 0px !default;
$thumb-border-color: transparent !default;

$track-width: 100% !default;
$track-height: 1px !default;
$track-shadow-size: 0px !default;
$track-shadow-blur: 0px !default;
$track-shadow-color: transparent !default;
$track-border-width: 0px !default;
$track-border-color: transparent !default;

$track-radius: 5px !default;
$contrast: 5% !default;

$ie-bottom-track-color: darken($track-color, $contrast) !default;

@mixin shadow($shadow-size, $shadow-blur, $shadow-color) {
  box-shadow: $shadow-size $shadow-size $shadow-blur $shadow-color, 0 0 $shadow-size lighten($shadow-color, 5%);
}

@mixin track {
  cursor: default;
  height: $track-height;
  transition: all .2s ease;
  width: $track-width;
}

@mixin thumb {
  @include shadow($thumb-shadow-size, $thumb-shadow-blur, $thumb-shadow-color);
  background: $thumb-color;
  border: $thumb-border-width solid $thumb-border-color;
  border-radius: $thumb-radius;
  box-sizing: border-box;
  cursor: default;
  height: $thumb-height;
  width: $thumb-width;
}

[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  margin: $thumb-height / 2 0;
  width: $track-width;

  &::-moz-focus-outer {
    border: 0;
  }

  &:focus {
    outline: 0;

    &::-webkit-slider-runnable-track {
      background: lighten($track-color, $contrast);
    }

    &::-ms-fill-lower {
      background: $track-color;
    }

    &::-ms-fill-upper {
      background: lighten($track-color, $contrast);
    }
  }

  &::-webkit-slider-runnable-track {
    @include track;
    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    background: $track-color;
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius;
  }

  &::-webkit-slider-thumb {
    @include thumb;
    -webkit-appearance: none;
    margin-top: ((-$track-border-width * 2 + $track-height) / 2 - $thumb-height / 2);
  }

  &::-moz-range-track {
    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    @include track;
    background: $track-color;
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius;
    height: $track-height / 2;
  }

  &::-moz-range-thumb {
    @include thumb;
  }

  &::-ms-track {
    @include track;
    background: transparent;
    border-color: transparent;
    border-width: ($thumb-height / 2) 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    background: $ie-bottom-track-color;
    border: $track-border-width solid $track-border-color;
    border-radius: ($track-radius * 2);
  }

  &::-ms-fill-upper {
    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    background: $track-color;
    border: $track-border-width solid $track-border-color;
    border-radius: ($track-radius * 2);
  }

  &::-ms-thumb {
    @include thumb;
    margin-top: $track-height / 4;
  }

  &:disabled {

    &::-webkit-slider-thumb,
    &::-moz-range-thumb,
    &::-ms-thumb,
    &::-webkit-slider-runnable-track,
    &::-ms-fill-lower,
    &::-ms-fill-upper {
      cursor: not-allowed;
    }
  }
}