.liComments {
    height: calc(100vh - 220px);
    position: relative;
    .apcShare & {
        height: calc(100vh - 90px);
        .addCommentContainer {
            @extend .p-3;
            position: fixed;
            width: 100%;
            bottom: 0;
        }
        .updateStatus{
            display: none;
        }
    }
    .addCommentContainer {
        @extend .p-3;
        position: absolute;
        width: 100%;
        bottom: 0;
    }
    .addComment {
        background-color: $white;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        margin: 0 0 0 -2px;
        height: calc(100% - 3px);
        color: $primary;
        &:hover {
            background-color: $primary;
            color: $white;
        }
    }
    .liNote {
        color: rgba($dark, 0.8);
        position: relative;
        .liNoteText {
        }
        .liNoteDate {
            position: absolute;
            bottom: 5px;
            right: 5px;
            font-size: 75%;
            color: rgba($dark, 0.4);
        }
        &:hover {
            .liNoteDate {
                color: rgba($dark, 0.8);
            }
        }

        &.self {
            background-color: rgba($primary, 0.2);
            margin-left: 25%;
        }

        &.other {
            background-color: rgba($black, 0.1);
            margin-right: 25%;
        }

        p {
            margin: 0;
        }
    }
}
