/*
 * PROCESS OR SLIDE STYLING
 */
 .commentTab{
  max-width: 65px!important;
  flex: unset;
 }
 .slidelinks{
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0;
   .label{
     width:calc(100% - 90px);
   }
   .options{
      width: 85px;
     
   }
   &.statements{
     .label{
      width: calc(50% - 40px);
     }
     .options{
       width: 40px;
     }
     .ifrequest{
      margin-left:5px;
      width: calc(25% -5px);
     }
     .isvalue{
      margin-left:5px;
      width: calc(25% - 5px);
    }
   }
   .prefix,.suffix{
    width:15%;
     display: inline-block;
   }
   
   .destination{
    // width:35%;
    display: inline-block;
    .v-select{
      padding-left: 0px;
    }
  }
  .value{
    // width:calc(35% - 5px);
    display: inline-block;
    // margin-left:5px;
  
  }
 }
 
.liProcessWrapper {
  position: relative;
  height:calc(100vh - 90px);
  overflow: hidden;
  // EXPLAIN IMAGE
  .liImg-explainImage {
    width: 360px;
    position: absolute;
    top: 20px;
    left: 90px;
    z-index: 10;
  }
  // CONTROLS
  .liControlContainer{
    position: absolute;
    z-index: 501;
    &.top{
      top: 15px;
    }
    &.bottom{
      bottom: 8px;
    }
    &.left{
     left: 15px;
    }
    // ZOOM
    .liZoomRange{
      width:150px;
      margin: 0px;
      display: inline-block;
      vertical-align: bottom;
    }
    .slideType {
      position: absolute;
      left:-5px;
      top:-5px;
      width: 16px;
      height: 16px;
      border-radius: 100px;
      background-color: $white;
      color: $gray-600;
      font-size: 10px;
      &.type0{

      }
      &.type1{

      }
      &.type2{

      }
      &.type3{

      }
      &.type4{

      }
    }
    .nodeType{
      background-color: $white;
      border-top-right-radius: 0!important;
      border-bottom-right-radius: 0!important;
      margin: 0 -2px 0 ;
      height: calc(100% - 3px);
      font-size: 10px;
      &:hover{
        color: $white;
        background-color: $primary;
      }
    }
    
    .addButton{
      background-color: $white;
      border-top-left-radius: 0!important;
      border-bottom-left-radius: 0!important;
      margin: 0 0 0  -2px;
      height: calc(100% - 3px);
      &:hover{
        color: $white;
        background-color: $primary;
      }
    }
  }
  .liProcessContainer {
    padding: 0;
    margin: 0;
    background: $light;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    transition: width .3s ease-out;
    .liProcessLinks {
      cursor: grab;
      .--liSceneLinking & {
        cursor: move;
      }
    }
    // NODES OR SLIDES
    .liProcessNode {
      margin: 0;
      width: auto;
      min-width: 180px;
      height: auto;
      min-height: 20px;
      position: absolute;
      border: 1px solid $dark;
      background-color: $white;
      z-index: 2;
      border-radius: 5px;
      transform-origin: top left;
      cursor: move;
      .--liNodeLinking & {
        cursor: e-resize!important;
      }
      .node-current {
        position: absolute;
        width: #{$nodePortSize*2}px;
        height: #{$nodePortSize*2}px;
        right: - #{$nodePortSize}px;
        top: - #{$nodePortSize}px;
        text-align: center;
        border-radius: 100px;
        display: block;
      }
      .node-main {
        text-align: left;
        .node-icon,
        .node-label {
          font-size: 10px;
          display: inline-block;
          padding: 2px 10px;
          color: $dark;
          line-height: 1;
        }
        .node-icon{
          width:20px;
          vertical-align: text-bottom;
        }
        .node-label{
          width:calc( 100% - 20px);
          vertical-align: text-bottom;
        }
      }
      &.icon{
        border-radius: 15px 5px 5px 15px;
      }
      .node-notes{
        position: absolute;
        width: #{$nodePortSize}px;
        height: #{$nodePortSize}px;
        left: - #{$nodePortSize/2}px;
        top: - #{$nodePortSize/2}px;
        text-align: center;
        border-radius: 100px;
        background: #e6e678;
        display: block;
        padding: 3px;
        font-size: 8px;
      }
      .node-start {
        position: absolute;
        width: #{$nodePortSize}px;
        height: #{$nodePortSize}px;
        right: - #{$nodePortSize/2}px;
        top: - #{$nodePortSize/2}px;
        text-align: center;
        border: 1px solid $primary;
        border-radius: 100px;
        background: $white;
        display: block;
        padding: 2px;
        .start-icon  {
          vertical-align: top;
          pointer-events: none;
          font-size: 10px;
        }
      }
      .node-custom-content{
        position: absolute;
        width: #{$nodePortSize}px;
        height: #{$nodePortSize}px;
        right: #{$nodePortSize}px;
        top: - #{$nodePortSize/2}px;
        text-align: center;
        border: 1px solid $primary;
        border-radius: 100px;
        background: $white;
        display: block;
        text-align: center;
        padding: 3px;
        .custom-content-icon  {
          vertical-align: top;
          pointer-events: none;
          font-size: 8px;
        }
      }
      .node-port {
        display: none;
        position: absolute;
        width: #{$nodePortSize}px;
        height: #{$nodePortSize}px;
        left: 50%;
        transform: translate(-50%);
        bottom: -10px;
        // bottom: -25px;
        text-align: center;
        border: 1px solid $primary;
        border-radius: 100px;
        background: $white;
        display: block;
        line-height: .8;
        .node-port-icon  {
          pointer-events: none;
          font-size: 8px;
        }
        &:hover{
          &.node-output{
            cursor: s-resize;
          }
        }
      }
      &.selected {
        border: 1px solid $primary;
        z-index: 500;
        box-shadow: 1px 0px 15px 0px rgba(0, 0, 0, 0.2);
      }
      &.portal{
        margin: 0;
        width: 100px;
        min-width: unset;
        height: 40px;
        min-height: unset;
        border-radius: 60px;
        background-color: $primary;
        
        .node-port,
        .node-start,
        .node-custom-content{
          display: none;
        }
        .node-main{
          width:100%;
          height:100%;
          display: table;
          .node-label{
            width:100%;
            height:100%;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            color: $white;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        .node-portal {
          position: absolute;
          width: #{$nodePortSize}px;
          height: #{$nodePortSize}px;
          right: #{$nodePortSize*2.5}px;
          top: - #{$nodePortSize/2}px;
          text-align: center;
          border: 1px solid $primary;
          border-radius: 3px;
          background: $white;
          display: block;
          padding: 2px;
          .portal-icon  {
            vertical-align: top;
            pointer-events: none;
            font-size: 10px;
          }
        }
        
      }
      
      &.note{
        margin: 0;
        min-width: 150px;
        min-height: 150px;
        max-width: 860px;
        border-radius: 0;
        border: 1px solid #E8E8E8;
        border-bottom-right-radius: 60px 5px;
        background: #ffff88;
        background: linear-gradient(135deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%);
        box-shadow: 3px 3px 10px 0px rgb(0 0 0 / 10%);
        // box-shadow: 5px ​5px 10px -1px rgb(0 0 0 / 10%);
        .node-port,
        .node-start,
        .node-custom-content,
        .node-note {
          display: none;
        }
        .node-main{
          width:100%;
          height:100%;
          display: table;
          .node-label{
            padding: 10px;
            width:100%;
            height:100%;
            display: table-cell;
            vertical-align: middle;
            text-align: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .node-description{
            width:100%;
            height:100%;
            display: table-row;
            vertical-align: middle;
            text-align: left;
            .inner{
              font-size: 85%;
              line-height:  1;
              
              padding: 10px 10px 0;
              display: table-cell;
              vertical-align: top;
              text-align: left;
            }
          }
        }
        
      }
      &.ifelse{
        border: 0!important;
        border-radius: 0px;
        background-color: transparent;
        box-shadow: none!important;
        .node-start,
        .node-custom-content{
          left: calc(50% - 9px);
          transform: rotate(45deg);
          top: -17px;
        }
        .node-port{
          bottom:-10px;
          left:90px;
        }
        .node-notes{
          position: absolute;
          left: 55px;
          top: 12px;
        }
        .node-current{
          right: 75px;
          top: -25px;
        }
        .node-main{
          width:40px;
          height:40px;
          margin-left:70px;
          background-color: $white;
          transform: rotate(-45deg);
          .node-icon{
            text-align: center;
            width: 45px;
            transform: rotate(45deg) translate(4px, 8px);
            font-size: 110%;
          }
          .node-label{
            display: none;
            
          }
        }
      } 
     
    }
  }
  .liSvgBlueWhite {
    fill: $white;
    stroke: $primary;
    stroke-miterlimit: 10;
  }
  .liSvgGrayWhite {
    fill: $white;
    stroke: rgba($dark, 0.2);
    stroke-miterlimit: 10;
  }
  .liSvgFillBlue {
    fill: $primary;
  }
  .liSvgFillDark {
    fill: $dark;
  }
  .liSvgFillDanger {
    fill: $danger;
  }
  g {
    // cursor: pointer;
  }
}
.builderNodeWrapper {
  position: fixed;
  left: 55px;
  top: 10px;
  background: $light;
  height: calc(100vh - 10px);
  width: calc(66.8% - 55px);
  z-index: 1010;
  padding: 15px;
  transform: translateY(150%);
  transition: transform 0.3s ease-in-out;
  will-change: transform;
  &.active {
    transform: translateY(0%);
  }
}
.editNodeWrapper {
  z-index: 2;
  font-size: .7rem!important;
  border-left:1px solid $gray-300;
  transition: width .3s ease-out;
  &.active{
    // box-shadow: 1px 0px 15px 0px rgba(0, 0, 0, 0.4);
  }
  
  header {
    position: relative;
    z-index: 2;
    background-color: $light;
  }

  .inner {
    max-height: calc(100vh - 150px);
    min-height: 100%;
    background: $light;
    overflow-y: scroll;
    overflow-x: hidden;
    .nav-tabs{
      padding-top:10px;
      background-color: $white;
    }
    .body{
      padding-bottom: 150px;
    }
    .ck-content {
      min-height: 100px !important;
    }
    .default{
      .ck-content {
        min-height: calc(100vh - 260px) !important;
      }
    }
    
    .card{
      &.nodeButtons{
        &.selected{
          border:1px solid $gray-400 ;
          box-shadow: $box-shadow;
        }
        // max-width: 500px;
        // display: inline-block;
        border:1px solid transparent;
        .handle{
          float:left;
        }
        .remove{
          float:right;
        }
      }
    }
  }

}

.colourLabel{
  width: 20px;
  display: inline-block;
  margin-right: 2px;
  height: 20px;
  padding: 2.5px;
  cursor: pointer;
  border-radius:15px;
  text-align: center;
  font-size: 85%;
  background-clip: content-box, padding-box;
  border: 1px solid $gray-300;
  &.selected{
    border: 1px solid $black;
  }
}
.clearColourLabel{
  display: inline-block;
  width: 17px!important;
  height: 17px!important;
  font-size: 75%;
  border-radius: 100%;
  padding: 2px;
  text-align: center;
  cursor: pointer;
  transition: background-color .3s;
  &:hover{
    background-color: $gray-300;
  }
}

/*
 * /. END PROCESS OR SLIDE STYLING
 */