// VUE FROM GENERATOR
.vue-form-generator {
  .form-group {
    display: inline-block;
  }
}

// CKEditor
.ck.ck-toolbar.ck-toolbar_grouping> *{
  font-size: 85%!important;
}
.ck {
  
  &.ck-balloon-panel {
    z-index: 90000000 !important;
  }
  &.ck-content {
    border-radius: 0px !important;
  }
  &.ck-editor__editable_inline {
    > :last-child {
      margin-bottom: 5px !important;
    }
    > :first-child {
      margin-top: 5px !important;
    }
  }
}