@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import 'variables';
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import 'authentication';
@import 'animations';
@import 'forms';
@import 'builder';
@import 'components';
@import 'process';
@import 'structure';
@import 'modals';
@import 'notes';
@import 'presentation';
@import 'thirdparty';
@import 'tabs';
@import 'share';
@import 'views';
@import 'vue-select/vue-select.scss';


:export {
  // Any values that need to be accessible from JavaScript
  // outside of a Vue component can be defined here, prefixed
  // with `global-` to avoid conflicts with classes. For
  // example:
  //
  // global-grid-padding: $size-grid-padding;
  //
  // Then in a JavaScript file, you can import this object
  // as you would normally with:
  //
  // import design from '@design'
  //
  // console.log(design['global-grid-padding'])
  --ck-font-size-base: 7px;
}
