<template>
  <div class="px-3 pt-5 pb-3 text-center">
    <b-button @click.prevent="hideWidgetModal" variant="primary">Done</b-button>
  </div>
</template>
<script>
export default {
  name:"liWidgetFooter",
  props:{
    hideWidgetModal: null,
  },
}
</script>