<template>
  <g :class="showNodeContentLinkLabels">
    <!-- marker-start="url(#arrow)"  -->
    <!-- marker-end="url(#arrow)"   -->
    <!-- marker-mid="url(#arrow)"  -->
    <!-- LINE -->
    <path
      v-if="
        (link.fromNodeType == 0 ||
          link.fromNodeType == 3 ||
          link.fromNodeType == 4) &&
          link.toNodeType != 2
      "
      :d="dAttr"
      :style="pathStyle"
      :marker-end="link.type === 'deadlink' ? 'url(#dot)' : 'url(#arrow)'"
      :class="{
        animateLine:
          options.linkSelected != null &&
          options.linkSelected.properties.id == link.id,
      }"
    >
    </path>
    <!-- LABEL -->
    <template
      v-if="
        link.type == 'linkInContent' &&
          showNodeContentLinkLabels == 1 &&
          (link.fromNodeType == 0 ||
            link.fromNodeType == 3 ||
            link.fromNodeType == 4) &&
          link.toNodeType != 2
      "
    >
      <text
        v-if="link.name != null && link.name != ''"
        :style="textStyle"
        :text-anchor="textAnchor"
        filter="url(#textBg)"
        :font-size="fontSize"
        :transform="textTransform"
      >
        {{ "\xa0 \u2014 " + link.name + "\xa0 \xa0" }}
      </text>
    </template>
    <template
      v-else-if="
        link.type == 'link' &&
          showNodeLinkLabels == 1 &&
          (link.fromNodeType == 0 ||
            link.fromNodeType == 3 ||
            link.fromNodeType == 4) &&
          link.toNodeType != 2
      "
    >
      <text
        v-if="link.name != null && link.name != ''"
        :style="textStyle"
        :text-anchor="textAnchor"
        filter="url(#textBg)"
        :font-size="fontSize"
        :transform="textTransform"
      >
        {{ "\xa0 \u2014 " + link.name + "\xa0 \xa0" }}
      </text>
    </template>
  </g>
</template>
<script>
export default {
  name: "liProcessLink",
  props: {
    options: null,
    link: null,
    showNodeContentLinkLabels: {
      required: false,
      default: 1,
    },
    showNodeLinkLabels: {
      required: false,
      default: 1,
    },
  },
  data() {
    return {};
  },
  methods: {
    caculateCenterPoint() {
      // caculate arrow position: the center point between start and end
      const dx = Number(this.link.end[0]) - Number(this.link.start[0]);
      const dy = Number(this.link.end[1]) - Number(this.link.start[1]);
      return [
        Number(this.link.start[0]) + dx / 2,
        Number(this.link.start[1]) + dy / 2,
      ];
    },
  },
  computed: {
    textAnchor() {
      if (this.link.fromTo) {
        return "start";
      } else {
        return "end";
      }
    },
    textStyle() {
      if (this.link.bgColour != null && this.link.bgColour != "") {
        return "fill: " + this.link.bgColour + ";";
      } else {
        return (
          "fill:" +
          getComputedStyle(document.documentElement).getPropertyValue("--dark")
        );
      }
    },
    fontSize() {
      return 11 * this.options.scale;
    },
    pathStyle() {
      return {
        stroke:
          this.link.bgColour != null && this.link.bgColour != ""
            ? this.link.bgColour
            : getComputedStyle(document.documentElement).getPropertyValue(
                "--dark"
              ),
        strokeWidth: 1 * this.options.scale,
        fill: "none",
        strokeDasharray: this.link.type != "link" ? "2 2" : "0",
      };
    },
    textTransform() {
      const [textX, textY] = this.caculateCenterPoint();
      if (this.link.contentLink) {
        return `translate(${textX - 15}, ${textY + 15})`;
      } else {
        return `translate(${textX}, ${textY})`;
      }
    },
    dAttr() {
      let startx = Number(this.link.start[0]),
        starty = Number(this.link.start[1]),
        endx = Number(this.link.end[0]),
        endy = Number(this.link.end[1]);
      // console.log('test',endy);
      let cx1, cy1, cx2, cy2;
      cx1 = startx;
      cx2 = endx;

      if ("anchorPositions" in this.link) {
        let offsetXFromToLink = this.link.fromTo ? 15 : 0;
        startx = startx + offsetXFromToLink;
        endx = endx + offsetXFromToLink;
        if (this.link.anchorPositions[1] == "bottom") {
          cy1 = starty + 100 * this.options.scale;
        } else {
          cy1 = starty - 100 * this.options.scale;
        }
        if (this.link.anchorPositions[0] == "bottom") {
          cy2 = endy + 100 * this.options.scale;
        } else {
          starty = starty - 15 * this.options.scale;
          endy = endy - 10 * this.options.scale;
          cy2 = endy - 100 * this.options.scale;
        }
      } else {
        // A NEW LINK IS BEEING DRAWN
        starty = starty - 15 * this.options.scale;
        cy1 = starty + 100 * this.options.scale;
        cy2 = endy + 100 * this.options.scale;
      }

      if (!this.link.self && this.link.type != "deadlink") {
        // Node is NOT connected to itself
        //CUBIC Bezier curved line
        return `M ${startx} ${starty} C ${cx1} ${cy1}, ${cx2} ${cy2}, ${endx} ${endy}`;
      } else if (this.link.type === "deadlink") {
        // NODE CONNECTED TO NOTHING

        // STRAIGHT line
        return `M ${startx}, ${starty} L ${endx}, ${endy}`;
      } else {
        // Node IS  connected to itself
        let offset = 75 * this.options.scale;
        return `M ${startx} ${starty} C ${cx1 - offset} ${cy1} ${cx2 -
          offset} ${cy2} ${endx - 15} ${endy}`;
      }
    },
  },
  mounted() {
    // console.log('type',this.link.type);
  },
};
</script>

<style scoped type="scss">
.animateLine {
  stroke-dasharray: 5 !important;
  animation: dashanimation 5s infinite linear;
}
@keyframes dashanimation {
  to {
    stroke-dashoffset: -100;
  }
}
</style>
