<template>
    <div class="gstopbar bg-dark liWidgetHeader gsdrag">
      <label>{{name}}</label>
      <!-- MOVE WIDGET -->
      <!-- <b-icon-grip-vertical class="gsdrag mr-2 d-inline" />  -->
      <!-- SETTINGS WIDGET -->
      <!-- <b-icon-three-dots-vertical @click.prevent="showWidgetModal" class="float-right text-light cursor-pointer" /> -->
      <!-- CLONE WIDGET -->
      <b-icon-files  @click.prevent="cloneWidget(id)" class="float-right mr-2 d-inline cursor-pointer" />
      <!-- REMOVE WIDGET -->
      <b-dropdown right variant="link" class=" mr-2 float-right text-light" size="xs" toggle-class="text-light gsremove text-decoration-none" no-caret>
        <template v-slot:button-content>
          <b-icon-trash />
        </template>
        <div class="bg-dark p-2">
          <p class="bg-dark small text-light float-left w-100 p-1 pl-2">
            Remove widget?
          </p>
          <b-button variant="danger" block @click.prevent="removeWidget(id)">
            Remove
          </b-button>
        </div>
      </b-dropdown>
      <!-- /.END REMOVE WIDGET -->
    </div>
</template>
<script>
export default {
  name:"liWidgetHeader",
  props:{
    name:{
      default:'Widget name...?',
      required: false,
      type:String
    },
    showWidgetModal: null,
    removeWidget:null,
    cloneWidget:null,
    test:null,
    id:null,
  },
}
</script>