<template>
  <div :class="block.styleClasses" class="list">
    <!-- !--! EXPIRIMENTAL !--!  HEADER -->
    <aside
      class="position-fixed text-white liBreadCrumbs"
      v-if="project != null"
      style="z-index:1020; left:50px; top: 20px;"
    >
      <b-icon icon="caret-right" class="mx-2" />
      <p class="d-inline-block text-white align-baseline p-0">
        {{ project.properties.name }}
      </p>
    </aside>
    <!-- END !--! EXPIRIMENTAL !--!  HEADER -->
    <b-jumbotron
      class="mt-3 py-4 bg-white shadow position-relative pl-5 overflow-hidden"
      v-if="project != null"
    >
      <div
        class="liProjectFiller"
        :style="`background-color: ${project.properties.colour}!important;`"
      ></div>
      <div
        v-if="!_.isEmpty(project.properties.icon)"
        class="liPorjectIcon border"
        :style="
          `border-color: ${project.properties.colour}!important; color: ${project.properties.colour}!important;`
        "
      >
        <span class="icon" :class="project.properties.icon"></span>
      </div>
      <p class="pt-3 mb-0 pb-0 small text-muted">{{ block.label }}</p>
      <h1 class="pb-3" v-if="block.label != ''">
        {{ project.properties.name }}
      </h1>
      <!-- <pre>
        {{project.properties.icon}}
        {{project.properties.colour}}
      </pre> -->

     
    </b-jumbotron>
    <b-tabs v-model="projectTabIndex" :key="project.properties.id" justified v-if="project != null">
      <b-tab title="Describe">
        <b-row class=" mt-5">
          <b-col cols="8" md="6" class="m-auto bg-white rounded">
            <div class="my-2 p-4">
              <b-form-group>
                <label>Name</label>
                <b-input
                  type="text"
                  class="bg-white"
                  v-model="project.properties.name"
                ></b-input>
              </b-form-group>
              <b-form-group class="mt-5">
                <label>Description</label>
                <b-textarea
                  rows="8"
                  class="bg-white"
                  v-model="project.properties.description"
                ></b-textarea>
              </b-form-group>
              <b-form-group class="mt-5 text-center">
                <b-button
                  @click.prevent="updateProject"
                  variant="primary"
                  pill
                  class="m-auto px-5"
                  >Save</b-button
                >
              </b-form-group>
            </div>
          </b-col>
        </b-row>
      </b-tab>
      <b-tab title="Design">
        <b-row class=" mt-5">
          <b-col cols="8" md="6" class="m-auto bg-white rounded">
            <div class="my-2 p-4">
              <b-row class="pt-2 pb-5">
                <b-col cols="10" class="m-auto d-table text-center my-3">
                  <div class="w-100 d-table-row">
                     <h5 class="m-0 pb-2">Default settings for all <b>new</b> presentations</h5>
                     <p class="small pb-2 text-muted"><i>within this project.</i></p>
                  </div>
                  <div
                    class="accountLogo"
                    :class="
                      project.properties.logo == null ||
                      project.properties.logo == ''
                        ? 'none'
                        : 'logo border'
                    "
                  >
                    <template
                      v-if="
                        project.properties.logo == null ||
                          project.properties.logo == ''
                      "
                    >
                      <liDropzoneBuilderImage
                        v-model="project.properties.logo"
                        @addImage="addLogo"
                      />
                    </template>
                    <template v-else>
                      <b-button
                        variant="primary"
                        @click="removeLogo"
                        size="sm"
                        class="btn-round remove "
                      >
                        <b-icon-trash />
                      </b-button>
                      <img
                        :src="
                          `${apiPublicPath}?guid=${guid}&file=${project.properties.logo}`
                        "
                        class="img-logo"
                      />
                    </template>
                  </div>
                </b-col>
              </b-row>
              <b-row>
                <b-col cols="10" class="m-auto">
                  <hr />
                  <p class="pt-2">
                    Header backgroud colour

                    <liColorFieldSmall
                      @changeColor="updateProject"
                      class="d-inline-block float-right"
                      containerClass="mr-2"
                      showRemove="1"
                      type="sketch"
                      size="sm"
                      v-model="
                        project.properties.brandingSettings.navbarBgColor
                      "
                      :key="`changeColor${project.properties.id}`"
                    />
                  </p>
                  <p class="pt-2 pb-3">
                    Header text colour

                    <liColorFieldSmall
                      @changeColor="updateProject"
                      class="d-inline-block float-right"
                      containerClass="mr-2"
                      showRemove="1"
                      type="sketch"
                      size="sm"
                      v-model="
                        project.properties.brandingSettings.navbarTextColor
                      "
                      :key="`changeColor${project.properties.id}`"
                    />
                  </p>
                  <hr />
                </b-col>
              </b-row>
              <!-- <pre>{{ project.properties.brandingSettings }}</pre> -->
            </div>
          </b-col>
        </b-row>
      </b-tab>
      <b-tab title="Presentations">
        <div class="bg-light rounded">
           <b-row
        class="mx-0 mt-3 p-5 bg-white rounded"
        v-if="block.listSettings.addInline || block.listSettings.search"
      >
        <template v-if="block.listSettings.addInline">
          <b-input-group class="col-12 col-md-6 pl-md-0">
            <b-form-input
              autocomplete="off"
              v-model="newItem.name"
              :placeholder="'Type to add ' + block.listSettings.addInlineLabel"
              @keypress.enter="addItem"
            />
            <b-input-group-append>
              <b-button
                variant="outline-primary"
                class="round"
                @click.prevent="addItem"
              >
                <b-icon-plus />
              </b-button>
            </b-input-group-append>
          </b-input-group>
        </template>
        <template v-if="block.listSettings.search">
          <b-input-group class="col-12 col-md-6 pr-md-0">
            <b-form-input
              v-model="search"
              :placeholder="
                'Type to search ' + block.listSettings.searchInlineLabel
              "
              debounce="200"
            />
            <b-input-group-append v-if="search != ''">
              <b-button
                variant="outline-dark"
                class="round"
                @click.prevent="clearSearch"
              >
                <b-icon-x />
              </b-button>
            </b-input-group-append>
          </b-input-group>
        </template>
      </b-row>
          <template v-if="treeItems.length == 0">
            <div class="h-100 d-flex w-100 mt-5 bg-white py-5">
              <div class="m-auto text-center">
                <div style="font-size: 4rem;">
                  <svg
                    version="1.1"
                    id="appcourtLogo"
                    x="0px"
                    y="0px"
                    viewBox="0 0 300 300"
                    class="bg-primary d-inline-block mb-4 p-1 rounded-circle"
                    style="width:60px;"
                  >
                    <g>
                      <path
                        class="fill-white"
                        d="M75.3,110.3c12-29.2,40.8-49.8,74.2-49.8c33.6,0,62.4,20.8,74.4,50.1L300,288.2V0H0v285.8 L75.3,110.3L75.3,110.3z"
                      ></path>
                      <path
                        class="fill-white"
                        d="M149.5,84.3c-31.2,0-56.6,25.4-56.6,56.6c0,31.2,25.4,56.6,56.6,56.6s56.6-25.4,56.6-56.6 c0-7.4-1.5-14.5-4.1-21l-0.1-0.2l0,0C193.5,99,173.2,84.3,149.5,84.3z"
                      ></path>
                      <path
                        class="fill-white"
                        d="M223.9,170.9c-11.9,29.4-40.8,50.3-74.4,50.3c-33.7,0-62.5-20.9-74.4-50.3L19.7,300h259.5 L223.9,170.9z"
                      ></path>
                    </g>
                  </svg>
                </div>
                <h4>No {{ block.componentSettings.label }} found...</h4>
                <p>
                  Please add a {{ block.componentSettings.single }} or try
                  another search term
                </p>
              </div>
            </div>
          </template>
          <listItem
            v-if="liLoading == false && treeItems != 'error'"
            v-model="treeItems"
            :class="treeOptions.options.disabled == true ? 'disabled' : ''"
            :itemName="block.componentSettings.single"
            :disabled="treeOptions.options.disabled"
            :treeOptions="treeOptions"
            :level="1"
            @refresh="refresh"
          />
        </div>
      </b-tab>
      <!-- 
        <b-tab title="Files">
        <div class="bg-white mt-3 rounded">
          <b-list-group>
            <template v-for="document in documents">
              <b-list-group-item :key="document.properties.id">
                <span class="bg-success text-light p-1 ml-2">{{document.properties._FKLabeldocument}}</span>

                <span class="bg-dark text-light p-1 ml-2">{{document.properties._FKLabelpresentation}}</span>
              </b-list-group-item>
            </template>
          </b-list-group>
          <pre>
            {{documents}}
          </pre>
        </div>
      </b-tab> 
      -->
    </b-tabs>
  </div>
</template>
<script>
const API_URL_PUBLIC = process.env.VUE_APP_API_VIEW_URL;
export default {
  name: "list",
  props: {
    block: Object,
  },
  data() {
    return {
      projectTabIndex: 2,
      guid: localStorage.getItem("liSession"),
      apiPublicPath: API_URL_PUBLIC,
      project: null,
      newItem: {
        name: "",
      },
      search: "",
      
    };
  },
  mounted() {
    console.log('mounted');
    this.setup();
  },
  activated() {
    console.log('activated');
    this.setup();
  },
  computed: {
    treeOptions() {
      return {
        additionalName: this.block.object + this.$route.query.identifier,
        object: this.block.object,
        listSettings: this.block.listSettings,
        actions: this.block.actions[0],
        linkColumn: this.block.listSettings.linkColumn,
        options: {
          group: "items",
          disabled: !this.block.listSettings.sortable,
          handle: ".handle",
          fallbackOnBody: "true",
          swapThreshold: "0.65",
          ghostClass: "ghost-tree",
        },
      };
    },
    documentsIdentifier(){
      return `documents_${this.treeOptions.additionalName}`;
    },
    documents(){
      return this.$store.getters["liDynamic/getCollection"](
            this.documentsIdentifier
          );
    },
    query_object_where() {
      let query_object_where = "";
      if (
        this.block.listSettings.requestQueryString &&
        !this._.isEmpty(this.$route.query)
        // #TODO CHECK FUNCTIONALITY
      ) {
        for (const [key, value] of Object.entries(this.$route.query)) {
          let foreign_key = this.block.listSettings.requestQueryMap[key];
          // query_object_where += foreign_key + "[=>]" + value;
          query_object_where += `${foreign_key} = '${value}'`;
        }
      }
      return query_object_where;
    },
    treeItems() {
      return this.search != ""
        ? this.searchList(
            this.$store.getters["liDynamic/getCollection"](
              this.treeOptions.additionalName
            ),
            this.search
          )
        : this.$store.getters["liDynamic/getCollection"](
            this.treeOptions.additionalName
          );
    },
  },
  watch: {
    search(val) {
      if (this.block.listSettings.sortable) {
        this.treeOptions.options.disabled = val != "" ? true : false;
      }
    },
    project(val) {
      if (
        val.properties.brandingSettings == null ||
        val.properties.brandingSettings == "null"
      ) {
        this.$set(this.project.properties, "brandingSettings", {
          navbarBgColor: "#3B5A9E",
          navbarTextColor: "#FFFFFF",
          bodyBgColor: "#FFFFFF",
          bodyTextColor: "#212529",
          footer: false,
          header: false,
        });
      } else {
        if (typeof val.properties.brandingSettings == "string") {
          this.$set(
            this.project.properties,
            "brandingSettings",
            JSON.parse(val.properties.brandingSettings)
          );
        }
      }
    },
  },
  methods: {
     addLogo(url) {
      this.$set(this.project.properties, "logo", url.file);
      this.updateProject();
    },
    removeLogo() {
      this.$set(this.project.properties, "logo", "");
      this.updateProject();
    },
    refresh() {
      console.debug("refresh list");
      this.getTree();
    },
    updateProject() {
      this.liLoading = true;
      this.$nextTick(()=>{
        let projectUpdate = this._.cloneDeep(this.project);
          console.log(projectUpdate.properties.brandingSettings.navbarBgColor);
        projectUpdate.properties.brandingSettings = JSON.stringify(
          projectUpdate.properties.brandingSettings
        );
        this.$store.dispatch("liDynamic/UPDATE_COLLECTION_ITEM", {
          vm: this,
          item: projectUpdate,
          options: {
            silent: false,
            removeKey: "identifier",
            addUpdateFields: "no",
          },
        }).then(()=>{
          this.liLoading = false;
        });
      });
    },
    // CREATE ITEM
    addItem() {
      if (!this._.isEmpty(this.newItem.name)) {
        this.newItem.parent = "root";
        this.newItem.sequence = 0;
        if (
          this.block.listSettings.insertForeignKey &&
          !this._.isEmpty(this.$route.query)
        ) {
          for (const [key, value] of Object.entries(this.$route.query)) {
            if (this.block.listSettings.requestQueryMap[key]) {
              let foreign_key = this.block.listSettings.requestQueryMap[key];
              this.newItem[foreign_key] = value;
            }
          }
        }
        this.newItem.logo = this._.cloneDeep(this.project.properties.logo);
        this.newItem.brandingSettings = this._.cloneDeep(this.project.properties.brandingSettings);
        if(typeof this.newItem.brandingSettings == "object"){
          this.newItem.brandingSettings = JSON.stringify(this.project.properties.brandingSettings);
        }
        this.newItem.identifier = this.generateUUID();
        this.$store
          .dispatch("liDynamic/CREATE_COLLECTION_ITEM", {
            vm: this,
            object: this.block.object,
            item: this.newItem,
            user: this.app_user.username,
            options: {
              silent: true,
            },
          })
          .then(() => {
            this.newItem.name = "";
            delete this.newItem.parent;
            delete this.newItem.sequence;
            this.$nextTick(() => {
              this.refresh();
            });
          });
      } else {
        this.$bvToast.toast(
          `The name of the ${this.block.componentSettings.single.toLowerCase()} can't be empty`,
          {
            title: "Please fill in a name",
            autoHideDelay: 5000,
          }
        );
      }
    },
    // SEARCH FUNCTIONS
    searchList(input, search) {
      if (input != "error") {
        var copy = (o) => {
          return Object.assign({}, o);
        };
        var result = input.map(copy).filter(function f(item) {
          if (item.properties.name.toLowerCase().includes(search.toLowerCase()))
            return true;

          if (item.properties.children) {
            return (item.properties.children = item.properties.children
              .map(copy)
              .filter(f)).length;
          }
        });
        return result;
      }
    },
    clearSearch() {
      this.search = "";
    },
    // SETUP FUNCTIONS
    setup() {
      this.getTree();
      this.getFiles();
    },
    createBreadCrumbs() {
      // EXPIRIMENTAL BREADCRUMBS
      this.$store
        .dispatch("liDynamic/GET_COLLECTION_ITEM", {
          object: "appcourt/api_project",
          vm: this,
          // where: `identifier = '${this.$route.query['identifier']}'`,
          id: this.$route.query["identifier"],
        })
        .then((response) => {
          // console.log(response)
          this.project = response;
        });
    },
    // GET THE TREE FROM SERVER
    getTree() {
      this.$store
        .dispatch("liDynamic/GET_COLLECTION", {
          vm: this,
          object: this.treeOptions.object,
          additionalName: this.treeOptions.additionalName,
          where:
            this.block.object_where != ""
              ? this.block.object_where + " | " + this.query_object_where
              : this.query_object_where,
          options:
            this.block.listSettings.sortable &&
            this.block.listSettings.sortableLevels > 1
              ? "tree"
              : "",
          orderBy: this.block.object_orderBy,
        })
        .then(() => {
          this.liLoading = false;
          this.createBreadCrumbs();
          this.init = false;
        });
    },
     // GET THE TREE FROM SERVER
    getFiles() {
      this.$store
        .dispatch("liDynamic/GET_COLLECTION", {
          vm: this,
          object: "appcourt/api_document",
          additionalName: this.documentsIdentifier,
          where:`project='${this.$route.query.identifier}'`,
          orderBy: "-id"
        })
        .then((response) => {
          console.log(response);
        });
    },
  },
};
</script>
