<template>
  <router-link :to="'/' + link" class="btn btn-sm d-inline-block">
    <b-icon-eye class="hover-scale text-body"></b-icon-eye>
  </router-link>
</template>
<script>
export default {
  name: "listItemViewButton",
  props: {
    link: {
      type: String,
      required: false,
      default: "",
    },
  },
};
</script>