<template>
  <div class="btn btn-sm d-inline" @click.prevent="setupMoveModal()">
    <b-icon icon="box-arrow-up" class="hover-scale" />
    <!-- MODAL -->
    <portal to="liModalContent">
      <div v-if="modalSettings.init">
        <b-input-group>
          <b-form-select
            v-model="item.foreign_identifier"
            :options="projects"
            value-field="identifier"
            text-field="name"
          ></b-form-select>
          <b-input-group-append
            v-if="currentProject.foreign_identifier != item.foreign_identifier"
          >
            <b-button variant="outline-primary" @click.prevent="update">
              <b-icon icon="box-arrow-up" />
            </b-button>
          </b-input-group-append>
        </b-input-group>
      </div>
    </portal>
    <!-- /. END MODAL -->
  </div>
</template>
<script>
export default {
  name: "listItemMoveButton",
  props: {
    item: null,
  },
  data() {
    return {
      // MODAL
      modalSettings: {
        init: false,
        item: null,
      },
      currentProject: "",
      projectsObject: "_li_api_projects",
      projectsAdditionalName: "grid__li_api_projects", // as defined in @/components/dashboard/gridDdashboard.vue
    };
  },
  mounted() {
    this.getProjects();
    this.currentProject = this._.cloneDeep(this.item);
  },
  computed: {
    projects: {
      get() {
        return this.$store.getters["liDynamic/getCollection"](
          this.projectsAdditionalName
        );
      },
    },
  },
  methods: {
    update() {
      if (
        this.currentProject.foreign_identifier != this.item.foreign_identifier
      ) {
        this.$store
          .dispatch("liDynamic/MOVE_PRESENTATION", {
            vm: this,
            item: this.item,
            currentProject: this.currentProject.foreign_identifier,
            user: this.app_user.username,
          })
          .then(
            () => {
              this.hideMoveModal();
            this.$emit("refresh");
            },
            (error) => {
              this.$bvToast.toast(error.statusText, {
                title: "Error",
                variant: "danger",
                autoHideDelay: 300,
                toaster: "b-toaster-bottom-right",
              });
            }
          );
      } else {
        this.$bvToast.toast(
          "Can't move the presentation to the same project....",
          {
            title: "Error",
            variant: "danger",
            autoHideDelay: 300,
            toaster: "b-toaster-bottom-right",
          }
        );
      }
    },
    // GET THE PROJECTS
    getProjects() {
      return this.$store.dispatch("liDynamic/GET_COLLECTION", {
        vm: this,
        object: this.projectsObject,
        additionalName: this.projectsAdditionalName,
        where: "",
        orderBy: "sequence ASC",
      });
    },
    // MODAL FUNCTIONS
    setupMoveModal() {
      if (this.projects == "error") {
        this.getProjects();
        this.showMoveModal();
      } else {
        this.showMoveModal();
      }
    },
    showMoveModal() {
      this.modalSettings.item = this.item;
      const modalOptions = {
        headerTitle: "Relocate presentation",
        headerBgVariant: "primary",
        headerTextVariant: "white",
        size: "lg",
      };
      this.openModal(modalOptions).then(() => {
        this.modalSettings.init = true;
      });
    },
    hideMoveModal() {
      this.closeModal(true).then(() => {
        this.modalSettings.init = false;
        this.currentProject = "";
      });
    },
  },
};
</script>
