<template>
  <router-link :to="'/' + link" class="btn btn-sm d-inline-block">
    <b-icon-pencil class="hover-scale text-body"></b-icon-pencil>
  </router-link>
</template>
<script>
export default {
  name: "listItemEditButton",
  props: {
    link: {
      type: String,
      required: false,
      default: "",
    },
  },
};
</script>