<template>
  <div class="liBuilderTable" v-if="!_.isEmpty(localValue)">
    <!-- EXPLANOTION IMAGE -->
    <img :src="explainImage" class="liImg-explainImage" v-if="localValue.widgetValue.headers.length == 0" />
    <!-- WIDGET CONTET -->
    <div class="w-100">
      <b-button variant="primary" size="sm" class="btn-round addHeaderbtn-zero mt-1 mr-1" @click.prevent="addHeader"  v-if="localValue.widgetValue.headers.length === 0">
        <b-icon-plus />
      </b-button>
      <div class="table-responsive" v-if="localValue.widgetValue.headers.length != 0">
      <table class="table">
        <thead>
          <draggable tag="tr" :list="localValue.widgetValue.headers" v-bind="tableItemOptions">
            <template v-for="(header, index) in localValue.widgetValue.headers">
              <th :key="index" class="liTableColumn">
                <!-- HEADER LABEL -->
                <input v-model="header.label" class="form-control font-weight-bold d-inline-block" @input="emitter" style="width:calc(100% - 50px);"/>
                <div class="actions d-inline-block" style="width: 50px;">
                  <!-- REMOVE ITEM -->
                  <b-dropdown right variant="link" class="removeHeaderBtn mb-2 ml-1 btn-round text-primary" size="xs" toggle-class="text-decoration-none" no-caret>
                    <template v-slot:button-content>
                      <b-icon-trash />
                    </template>
                    <div class="bg-dark p-2">
                      <p class="bg-dark small text-light float-left w-100 p-1 pl-2">
                        Remove column?
                      </p>
                      <b-button variant="danger" block @click.prevent="removeHeader(index, header.id)">
                        Remove
                      </b-button>
                    </div>
                  </b-dropdown>
                  <!-- MOVE ITEM -->
                  <b-button variant="link" class="btn-round text-primary handle btn-xs moveHeaderBtn mb-2 mr-1 cursor-move-h ">
                    <b-icon-grip-vertical />
                  </b-button>
                </div>
              </th>
            </template>
             <th width="70px">
                <b-button variant="primary" size="sm" class="btn-round addHeaderbtn mt-1 mr-1" @click.prevent="addHeader">
                  <b-icon-plus />
                </b-button>
             </th>
          </draggable>
        </thead>
        <draggable  tag="tbody" :list.sync="localValue.widgetValue.items" v-bind="tableRowItemOptions" >
          <tr v-for="(item, index) in localValue.widgetValue.items" :key="index" class="liTableRow">
            <template v-for="(comlumnId, index) in localValue.widgetValue.headers">
              <td :key="index">
                <input v-model="item[comlumnId.id]" class="form-control" @input="emitter" />
              </td>
            </template>
            <td class="liTableRowColumn">
              <!-- REMOVE ITEM -->
              <b-dropdown right variant="link" class=" mr-1 btn-round text-primary" size="xs" toggle-class="text-decoration-none" no-caret>
                <template v-slot:button-content>
                  <b-icon-trash />
                </template>
                <div class="bg-dark p-2">
                  <p class="bg-dark small text-light float-left w-100 p-1 pl-2">
                    Remove row?
                  </p>
                  <b-button variant="danger" block @click.prevent="removeRow(index)">
                    Remove
                  </b-button>
                </div>
              </b-dropdown>
              <!-- /.END REMOVE ITEM -->
              <!-- MOVE ITEM -->
              <b-icon-grip-vertical class="ml-1 d-inline-block text-primary handleRow cursor-move-v"/>
            </td>
          </tr>
        </draggable>
      </table>
      </div>
    </div>
    <div class="w-100 text-center addRow">
      <b-button variant="primary" size="sm" class="btn-round" @click.prevent="addRow" v-if="localValue.widgetValue.headers.length != 0">
        <b-icon-plus />
      </b-button>
    </div>
  </div> 
</template>
<script>
import explainImage from "../../assets/images/SVG/liBuilder-Table-1-dark.svg";
export default {
  name:'liBuilderTable',
  data() {
    return {
      localValue: null,
      explainImage: explainImage,
      tableItemOptions: {
        group: "tableItems",
        handle: ".handle",
        ghostClass: "ghost-builder-table-item",
        draggable: ".liTableColumn",
        disabled: false,
      },
      tableRowItemOptions: {
        group: "liTableRow",
        handle: ".handleRow",
        ghostClass: "ghost-builder-table-item",
        draggable: ".liTableRow",
        disabled: false,
      },
    };
  },
  props: {
    value: null,
    id: null,
    name: null,
    currentNode: null,
    linkNodes: null,
    componentId:null,
  },
  mounted() {
    this.localValue = this._.cloneDeep(this.value);
     this.$nextTick(() => {
        this.emitter();
      });
  },
  methods: {
    emitter() {
      this.$emit("input",this.localValue);
    },
    addHeader() {
      const uniqueId = Date.now();
      const newHeader = { label: "", id: uniqueId };
      this.localValue.widgetValue.headers.splice(
        this.localValue.widgetValue.headers.length,
        0,
        newHeader
      );
      if (this.localValue.widgetValue.items.length == 0) {
        const obj = {};
        obj[uniqueId] = "";
        this.localValue.widgetValue.items.splice(0, 0, obj);
      }
      this.emitter();
    },
    removeHeader(index, id) {
      this.localValue.widgetValue.headers.splice(index, 1);
      this.localValue.widgetValue.items.forEach(function (item) {
        delete item[id];
      });
      this.emitter();
    },
    addRow() {
        let newnewRow ={};
        this.localValue.widgetValue.headers.forEach(element => {
          newnewRow[element.id] ="";
        });
        this.localValue.widgetValue.items.splice(this.localValue.widgetValue.items.length, 0, newnewRow);
      this.emitter();
    },
    removeRow(index) {
      this.localValue.widgetValue.items.splice(index, 1);
      this.emitter();
    },
  },
};
</script>
