<template>
  <div class="liBuilderObject" v-if="!_.isEmpty(localValue)">
    <div class="w-100">
      <b-input-group>
        <b-input-group-prepend>
          <div class="input-group-text border-0 border-radius-0">
            <b>Object name:</b>
          </div>
        </b-input-group-prepend>
        <b-form-input :formatter="nameFormatter" v-model="localValue.widgetValue.entity.name" class="bg-white" @input="emitter"/>
      </b-input-group>
    </div>
    <!-- EXPLANOTION IMAGE -->
    <img :src="explainImage" class="liImg-explainImage" v-if="localValue.widgetValue.items.length <= 1" />
    <!-- WIDGET CONTET -->
    <div class="w-100 d-flex justify-content-between">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <template v-for="(header, index) in localValue.widgetValue.headers">
                <th :key="index" class="liTableColumn">
                  {{header.label}}
                </th>
              </template>
              <th width="70px"> </th>
            </tr>
          </thead>
            <draggable  tag="tbody" :list.sync="localValue.widgetValue.items" v-bind="tableItemOptions" >
              <tr v-for="(item, index) in localValue.widgetValue.items" :key="index" class="liTableRow" >
                <template v-for="(comlumnId, indexColumn) in localValue.widgetValue.headers">
                  <td :key="indexColumn" class="liTableObjectColumn" >
                    <!-- NAME COLUMN -->
                    <template v-if="comlumnId.id === '_li_name'">
                      <input v-model="item[comlumnId.id]" class="form-control bg-white" @input="emitter" :key="'_li_name'+index"/>
                    </template>
                    <!-- TYPE COLUMN -->
                    <template v-if="comlumnId.id === '_li_type'">
                        <b-form-select v-model="item[comlumnId.id]" @change="emitter" :options="objectSettings.type" :key="'_li_type'+index"/>
                    </template>
                    <!-- MANDATORY COLUMN -->
                    <template v-if="comlumnId.id === '_li_mandatory'">
                      <div class="text-center">
                      <b-form-checkbox :id="'_li_mandatory'+index" v-model="item[comlumnId.id]" name="checkbox-1" @change="emitter" value="1" unchecked-value="0" :key="'_li_mandatory'+index" />
                      </div>
                    </template>
                    <!-- DEFAULT VALUE COLUMN -->
                    <template v-if="comlumnId.id === '_li_defaultvalue'">
                      <input v-model="item[comlumnId.id]" class="form-control bg-white" @input="emitter" :key="'_li_defaultvalue'+index"/>
                    </template>
                    <!-- FOREIGN KEY COLUMN -->
                    <template v-if="comlumnId.id === '_li_foreignkey'">
                      <input v-model="item[comlumnId.id]" class="form-control bg-white" @input="emitter" :key="'_li_foreignkey'+index"/>
                    </template>
                    <!-- COMMENTS KEY COLUMN -->
                    <template v-if="comlumnId.id === '_li_comments'">
                      <input v-model="item[comlumnId.id]" class="form-control bg-white" @input="emitter" :key="'_li_comments'+index"/>
                    </template>
                  </td>
                </template>
                <td width="70px" class="liTableObjectColumn"> 
                  <!-- REMOVE ITEM -->
                  <b-dropdown right variant="link" class="d-inline-block  text-primary" size="xs" toggle-class="text-decoration-none" no-caret>
                    <template v-slot:button-content>
                      <b-icon-trash />
                    </template>
                    <div class="bg-dark p-2">
                      <p class="bg-dark small text-light float-left w-100 p-1 pl-2">
                        Remove row?
                      </p>
                      <b-button variant="danger" block @click.prevent="removeRow(index)">
                        Remove
                      </b-button>
                    </div>
                  </b-dropdown>
                  <!-- MOVE ITEM -->
                  <b-icon-grip-vertical class="ml-1 d-inline-block text-primary handle cursor-move-v"/>
                </td>
              </tr>
            </draggable>
        </table>
      </div>
    </div>
    <div class="w-100 text-center addRow">
      <b-button variant="primary" size="sm" class="btn-round" @click.prevent="addRow">
        <b-icon-plus />
      </b-button>
    </div>
  </div> 
</template>
<script>
import explainImage from "../../assets/images/SVG/liBuilder-Table-1-dark.svg";
export default {
  name:'liBuilderObject',
  data() {
    return {
      localValue: null,
      explainImage: explainImage,
      tableItemOptions: {
        group: "objectItems",
        handle: ".handle",
        ghostClass: "ghost-builder-table-item",
        draggable: ".liTableRow",
        disabled: false,
      },
      objectSettings:{
        type: [
          { value: "singleline", text: "Singleline text" },
          { value: "multiline", text: "Multiline text" },
          { value: "boolean", text: "Checkbox" },
          { value: "date", text: "Date" },
          { value: "datetime", text: "Date and time" },
          
        ]
      }
    };
  },
  props: {
    value: null,
    id: null,
    name: null,
    currentNode: null,
    linkNodes: null,
    componentId:null,
  },
  mounted() {
    this.localValue = this._.cloneDeep(this.value);
     this.$nextTick(() => {
        this.emitter();
      });
  },
  methods: {
    emitter() {
      this.$emit("input",this.localValue);
    },
    addRow() {
        let newnewRow ={};
        this.localValue.widgetValue.headers.forEach(element => {
          newnewRow[element.id] ="";
        });
        this.localValue.widgetValue.items.splice(this.localValue.widgetValue.items.length, 0, newnewRow);
      this.emitter();
    },
    removeRow(index) {
      this.localValue.widgetValue.items.splice(index, 1);
      this.emitter();
    },
    nameFormatter(value) {
        return value.toString().toLowerCase().replace(/[^a-zA-Z0-9_-]/g, "");
      }
  },
};
</script>
