<template>
  <!-- TAB ITEM OPTIONS  [BUTTON]-->
  <b-tab :title="name+' settings'" active v-if="localValue != null" class="bg-light p-2 small liWidgetTab">
<div class="inner">
    <div class="mb-3 p-2 bg-white">
      <div class="mt-1 w-100"><b>Align buttons</b></div>
      <hr class="mt-1">
      <div class="d-flex justify-content-between">
        <div class="px-3 w-25" :class="localValue.additional.settings.alignment =='horizontal'? 'font-weight-bold':''">Horizontal</div>
        <b-form-checkbox v-model="localValue.additional.settings.alignment" @change="emitter" unchecked-value="horizontal" value="vertical" switch />
        <div class="px-3 w-25 text-left" :class="localValue.additional.settings.alignment =='vertical'? 'font-weight-bold':''">Vertical</div>
      </div>
    </div>
    <div class="mb-3 p-2 bg-white">
      <div class="mt-1 w-100"><b>Group buttons</b></div>
      <hr class="mt-1">
      <div class="d-flex justify-content-between">
        <div class="px-3 w-25" :class="localValue.additional.settings.group ==''? 'font-weight-bold':''">No</div>
        <b-form-checkbox v-model="localValue.additional.settings.group" @change="emitter" unchecked-value="" value="group" switch />
        <div class="px-3 w-25 text-left" :class="localValue.additional.settings.group =='group'? 'font-weight-bold':''">Yes</div>
      </div>
    </div>
    <div class="mb-3 p-2 bg-white">
      <div class="mt-1 w-100"><b>Align text</b></div>
      <hr class="mt-1">
      <div class="d-flex justify-content-between">

        <div class="text-left pl-3 w-25">
          <b-form-radio @change="emitter" v-model="localValue.additional.settings.textalign" name="textalign" value="left">
            <span :class="localValue.additional.settings.textalign =='left'? 'font-weight-bold':''">Left</span>
          </b-form-radio>
        </div>
        <div class="text-left pl-3  w-25">
          <b-form-radio @change="emitter" v-model="localValue.additional.settings.textalign" name="textalign" value="center">
            <span :class="localValue.additional.settings.textalign =='center'? 'font-weight-bold':''">Center</span>
          </b-form-radio>
        </div>
        <div class="text-left pl-3 w-25">
          <b-form-radio @change="emitter" v-model="localValue.additional.settings.textalign" name="textalign" value="right">
            <span :class="localValue.additional.settings.textalign =='right'? 'font-weight-bold':''">Right</span>
          </b-form-radio>
        </div>
      </div>
    </div>
</div>
  </b-tab>
  <!-- /.END TAB ITEM OPTIONS  -->
</template>
<script>
export default {
  name: "liBuilderButtonsTab",
  data() {
    return {
      localValue: null,
    };
  },
  mounted() {
    this.localValue = this.value;
    this.$nextTick(() => {
      this.emitter();
    });
  },
  props: {
    value: null,
    id: null,
    name: null,
    currentNode: null,
    linkNodes: null,
    design: null,
    componentId: null,
  },
  computed: {},
  methods: {
    emitter() {
      this.$emit("input", this.localValue);
    },
  },
};
</script>



