<template>
  <div class="liBuilderHotspots" v-if="!_.isEmpty(localValue)" :key="'liBuilderButtons'+componentId" >
    <!-- HOTSPOT CANVAS -->
    <div class="liBuilderHotspotsCanvas" ref="hotspotParent" @mousemove="moveHotspot($event)" @mouseup="endmoveHotspot">
      <!-- ADD HOTSPOT -->
      <div class="addHotspot">
        <!-- EXPLANOTION IMAGE -->
        <!-- <img :src="explainImage" class="liImg-explainImage" v-if="_.isEmpty(localValue.widgetValue) " /> -->
        <!-- ADD BUTTON -->
        <b-button variant="primary" size="sm" class="btn-round liAaddButtonItem" @click.prevent="addButtonItem">
          <b-icon-plus />
        </b-button>
      </div>
      <!-- /.END ADD HOTSPOT -->
      <!-- HOTSPOTS -->
      <template v-for="(button, index) in localValue.widgetValue">
        <div class="liBuilderHotSpotItem" 
          :ref="'hotSpotItem_'+index" 
          :key="index"  
          :style="'left: '+button.x+'%; top: '+button.y+'%;'"
          @mousedown="handleMousedown($event,index)" 
          @mouseenter="$set(hoverMe, index, !hoverMe[index])" 
          @mouseleave="$set(hoverMe, index, !hoverMe[index])"
          >
          <!-- ACTIONS -->
          <div class="actions bg-light" v-if="hoverMe[index]" >
            <!-- REMOVE HOTSPOT -->
            <b-dropdown variant="link" class="btn-round  removeButtonItemBtn mr-2" size="xs" toggle-class="text-primary text-decoration-none" no-caret>
              <template v-slot:button-content>
                <b-icon-trash />
              </template>
              <div class="bg-dark p-2">
                <p class="bg-dark small text-light float-left w-100 p-1 pl-2">
                  Remove hotspot?
                </p>
                <b-button variant="danger" block @click.prevent="removeButtonItem(index)">
                  Remove
                </b-button>
              </div>
            </b-dropdown>
            <!-- /.END REMOVE HOTSPOT -->
            <!-- HOTSPOT OPTIONS  -->
            <b-button variant="link" class="btn-xs text-primary mr-2" @click.prevent="showWidgetItemModal(index)">
              <b-icon-three-dots />
            </b-button>
            <!-- /. END HOTSPOT OPTIONS  -->
          </div>
          <!-- /. END ACTIONS -->
          <!-- HOTSPOT PREVIEW -->
          <div class="liBuilderHotSpot" :style="computedButtonStyle(button)" :class="(button.size != '')? ' li-'+button.size : ''">
            <template v-if="button.type === 'link'">
              <b-icon icon="exclamation-triangle-fill" variant="danger" class="mr-2 deadlink" v-if="findNodeWithID(button.to) === undefined" />
            </template>
            <template v-if="button.icon != ''">
              <span class="icon" :class="(button.size != '')? ' fa-'+button.size + ' '+ button.icon : button.icon"/>
            </template>
          </div>
          <!-- /.END HOTSPOT PREVIEW -->
        </div>
      </template>
      <!-- /.END HOTSPOTS -->
      <!-- NO IMAGE -->
      <!-- UPLOAD IMAGE -->
      <div class="mb-3 w-100" style="min-height: 300px;" v-if="localValue.additional.settings.image ==''">
        <div class="liBuilderFile" :class="(localValue.additional.settings.image ==='')? 'liUpload':'liUploaded'" :key="'liBuilderFile'+componentId">
          <liDropzoneBuilderImage :key="Date.now()" v-model="localValue.additional.settings.image" @addImage="addImage" style="min-height: 500px;"/>
        </div>
      </div>
      <!-- /.END UPLOAD IMAGE -->
      <!-- IMAGE -->
      <template v-else>
        <!-- REMOVE IMAGE -->
        <b-button variant="primary" @click="removeImage" size="sm" class="btn-round removeImage" v-b-tooltip.hover.left="'Remove Image'">
          <b-icon-trash />
        </b-button>
        <!-- SHOW IMAGE -->
        
        <img :src="`${apiPublicPath}?guid=${guid}&file=${localValue.additional.settings.image}`" class="img-fluid liHotspotBgImage">
      </template>
      <!-- /. END IMAGE -->
    </div>
    <!-- /. END HOTSPOT CANVAS -->
    <!-- PORTAL TO WIDGET MODAL ITEM -->
    <portal to="liModalContent" v-if="modalItemInit && modalItem" :key="'buttonItemPortalButton'+String(modalItem.id)">
      <div class="mb-3 d-flex justify-content-between">
          <div class="hotspotIcon">
            <label>Icon</label>
            <liIconFieldSmall @changeIcon="emitter" :size="'sm'" class="ml-2" v-model="modalItem.icon" :key="'icon'+componentId" />
          </div>
          <div class="hotspotSize" style="width: 60px;">
            <label>Icon size</label>
             <b-form-select v-model="modalItem.size" @change="emitter" :options="hotspotSettings.size"></b-form-select>
          </div>
          <div class="hotspotIconColor">
            <label>Icon colour</label>
            <liColorFieldSmall @changeColor="emitter" :size="'sm'" class="ml-2" v-model="modalItem.textColour" :key="'txtc'+componentId" />
          </div>
          <div class="hotspotIconBackgroundColor">
            <label>Background colour</label>
            <liColorFieldSmall @changeColor="emitter" :size="'sm'" class="ml-2" v-model="modalItem.bgColour" :key="'bgc'+componentId" />
          </div>
          <div class="hotspotType w-50">
            <label>Type</label>
            <b-form-select v-model="modalItem.type" @change="changeButtonType" :options="hotspotSettings.type"></b-form-select>
          </div>
      </div>
      <!-- HOTSPOT TYPE LINK -->
      <template v-if="modalItem.type === 'link'">
        <hr class="my-4">
        <h5 >Settings for link to a slide</h5>
        <label class="mt-3">Label</label>
        <div class="mb-3 d-flex justify-content-between">
          <b-form-input v-model="modalItem.name" @input="emitter" size="sm" :key="'name'+componentId" />
        </div>
        <div class="mb-3 d-flex justify-content-between">
         <!-- <div class="w-25">
          <label>Prefix</label>
          <b-form-input v-model="modalItem.toprefix" @input="emitter" :key="'toprefix'+componentId" />
        </div> -->
        <div class="w-50">
         <label style="margin-bottom: 0.2rem;">Destination</label>
          <!-- SLIDE SELECTION -->
            <v-select 
                 :getOptionLabel=" (node) => node.properties.name"
                :value="modalItem.to" 
                :options="linkNodes" 
                :reduce="node => node.properties.identifier" 
                :clearable="true"
                @input="node => setBtnLinkTo(node)" 
              >
              <template v-slot:option="option">
                <span class="mr-2" :class="option.properties.icon" :style="'color:'+option.properties.colour+';'"></span>
                {{ option.properties.name }}
              </template>
              <template #selected-option="{ properties}">
                <span class="mr-2" :class="properties.icon" :style="'color:'+properties.colour+';'"></span>
                <span class="mr-2">{{ properties.name }}</span>
              </template>
            </v-select>
             <template v-if="noLongerAvailable">
                <b-alert show variant="danger">
                  <b-icon icon="exclamation-triangle-fill" variant="danger" class="mr-2" />
                  The output slide is no longer available...
                </b-alert>
              </template>
                <template v-if="modalItem.to ===''">
                <b-alert show variant="warning">
                  No output slide selected
                </b-alert>
              </template>
            <!--/. END SLIDE SELECTION -->
        </div>
        <!-- <div class="w-25">
          <label>Suffix</label>
          <b-form-input v-model="modalItem.tosuffix" @input="emitter"  :key="'tosuffix'+componentId" />
        </div> -->
        <div class="w-50">
          <label>Value</label>
          <b-form-input v-model="modalItem.tovalue" @input="emitter"  :key="'tovalue'+componentId" />
        </div>
          <!-- <div class="w-25">
            <label>Open destination in:</label>
            <b-dropdown variant="light" size="sm" class="w-100 rounded text-left small" style="border:1px solid #ced4da;" no-caret>
              <template #button-content class="text-left">
                <span class="mr-2">{{(!_.isEmpty(modalItem.target)) ? findLinkTarget(modalItem.target).label : 'Please select...'}}</span>
              </template>
              <template v-for="(linkTarget,index) in linkTargets">
                <b-button variant="light" :key="index" :class="(!_.isEmpty(modalItem.target) && linkTarget.type === modalItem.target)? 'active':'' " class="text-left w-100 small" size="sm" @click.prevent="setBtnlinkTarget(linkTarget.type)">
                  <span class="mr-2"> {{linkTarget.label}}</span>
                </b-button>
              </template>
            </b-dropdown>
          </div> -->

        </div>
      </template>
      <!-- /.END HOTSPOT TYPE BUTTON -->
      <!-- HOTSPOT TYPE POPOVER -->
      <template v-if="modalItem.type === 'popover'">
        <hr class="my-4">
        <h5 >Settings for popover</h5>
        <div class="mb-3 d-flex justify-content-between">
          <div class="hotspotPosition w-50 pr-1">
            <label>Position</label>
            <b-form-select v-model="modalItem.popoverPosition" @change="emitter" :options="hotspotSettings.position"></b-form-select>
          </div>
          <div class="hotspotTrigger w-50 pl-1">
            <label>Trigger</label>
            <b-form-select v-model="modalItem.popoverTrigger" @change="emitter" :options="hotspotSettings.trigger"></b-form-select>
          </div>
        </div>
        <div class="mb-3 d-flex justify-content-between">
          <div class="hotspotTitle w-100">
            <label class="mt-3">Title</label>
            <b-form-input v-model="modalItem.name" @input="emitter" size="sm" :key="'name'+componentId" />
          </div>
        </div>
        <div class="mb-3 d-flex justify-content-between">
          <div class="hotspotDescription w-100">
            <label class="mt-3">Text</label>
            <b-form-textarea @blur="emitter" v-model="modalItem.description" rows="6" :key="'name'+componentId" ></b-form-textarea>
          </div>
        </div>
      </template>
      <!-- /.END HOTSPOT TYPE POPOVER -->
      <!-- MODAL FOOTER -->
      <liWidgetFooter :hideWidgetModal="hideWidgetItemModal" />
    </portal>
  </div>
</template>
<script>
const API_URL_PUBLIC = process.env.VUE_APP_API_VIEW_URL;
// EXPLAIN IMAGE
import explainImage from "../../assets/images/SVG/liBuilder-Button-1-dark.svg";
export default {
  name: "liBuilderHotspots",
  data() {
    return {
      apiPublicPath: API_URL_PUBLIC,
      localValue: null,
      hoverMe: [],
      explainImage: explainImage,
      modalItemInit: false,
      modalItem: false,
      dragging: false,
      noLongerAvailable: false,
      selected: { index: null, clientRect: null },
      guid:localStorage.getItem('liSession'),
      hotspotSettings:{
        type: [
          { value: 'link', text: 'Link to a slide' },
          { value: 'popover', text: 'Popover' }
        ],
        trigger: [
          { value: 'click', text: 'Click' },
          { value: 'hover', text: 'Hover' }
        ],
        position: [
          { value: 'top', text: 'Top' },
          { value: 'right', text: 'Right' },
          { value: 'bottom', text: 'Bottom' },
          { value: 'left', text: 'Left' }
        ],
        size: [
          { value: '', text: 'Default' },
          { value: 'xs', text: '1' },
          { value: 'sm', text: '2' },
          { value: 'lg', text: '3' },
          { value: '2x', text: '4' },
          { value: '3x', text: '5' },
          { value: '5x', text: '6' },
          { value: '7x', text: '7' },
          { value: '10x', text: '8' }
        ]
      }
    }
  },
  props: {
    value: null,
    id: null,
    name: null,
    currentNode: null,
    currentProject: null,
    linkNodes: null,
    componentId: null,
  },
  mounted() {
    this.localValue = this.value;
    // this.localValue = this._.cloneDeep(this.value);
    if (this._.isEmpty(this.localValue.additional.settings)){
      this.$set(this.localValue.additional, 'settings', {});
      this.$set(this.localValue.additional.settings, 'image', '');
      this.$nextTick(() => {
        this.emitter();
      });
    }
  },
  computed: {
    widgetModalItemOptions() {
      let modalOptions = this._.cloneDeep(this.WIDGET_MODAL_ITEM_OPTIONS);
      modalOptions.hideBackdrop = true;
      return modalOptions;
    },
    linkTargets() {
      return this.LINK_TARGETS;
    },
  },
  methods: {
    changeButtonType(){
      if (this.modalItem.type === 'popover'){
        this.$nextTick(() => {
          this.emitter(this.modalItem);
        });
      } else {
        this.$nextTick(() => {
          this.emitter();
        });
      }
    },
    emitter(removed = null) {
      let links = [];
      this.localValue.widgetValue.forEach( link => {
        // MINIMAL RETURN PER LINKITEM, CAN BE MORE IF YOU WANT OR JUST BE LAZY LIKE ME!
        // let linkItem =  {
        //   widgetId: link.widgetId,
        //   id: link.id,
        //   from: link.from,
        //   to: link.to,
        //   name: link.name,
        //   textColour: link.textColour,
        //   bgColour: link.bgColour,
        //   target: link.target,
        // }
        if(link.type === 'link'){
          links.push(link);
        }
      });
      this.localValue.additional.links = links;
      if (removed !=null){
        this.$set(this.localValue.additional, 'removed_links', removed);
      }
      this.$emit("input", this.localValue);
      // this.$nextTick(() => {
      //   this.$delete(this.localValue.additional, 'removed_links');
      // });
       
    },
    handleMousedown(e,index) {
      const target = e.target || e.srcElement;
      if (target.classList.contains('liBuilderHotSpot') && !this.dragging){
        this.selected.index = index;
        this.selected.clientRect = this.$refs.hotspotParent.getBoundingClientRect();
        this.dragging = true;
      }
    },
    //eslint-disable-next-line
    moveHotspot(e){
      if (this.dragging) {
        const item = this.$refs["hotSpotItem_" + this.selected.index][0];
        const hotspotWidth = item.getBoundingClientRect().width/ 2;
        const hotspotHeight = item.getBoundingClientRect().height/ 2;
        let mouseX = (e.pageX || e.clientX) - this.selected.clientRect.left;
        let mouseY = (e.pageY || e.clientY) - this.selected.clientRect.top;
        let percentageX = ((mouseX - hotspotWidth) / this.selected.clientRect.width) * 100.0;
        let percentageY = ((mouseY - hotspotHeight) / this.selected.clientRect.height) * 100.0;
        this.localValue.widgetValue[this.selected.index].x = percentageX;
        this.localValue.widgetValue[this.selected.index].y = percentageY;
        
      }
    },
     endmoveHotspot() {
      if (this.dragging) {
        this.selected.index = null;
        this.selected.clientRect = null;
        this.dragging = false;
        this.emitter();
      }
    },
    computedButtonStyle(button) {
      let computedStyle = "";
      if (!this._.isEmpty(button.bgColour)) {
        computedStyle +=
          "border-color:" +
          button.bgColour +
          "!important; ";
        computedStyle +=
          "background-color:" +
          button.bgColour +
          "!important; ";
      }
      if (!this._.isEmpty(button.textColour)) {
        computedStyle +=
          "color:" + button.textColour + "!important; ";
      }
      return computedStyle;
    },
    findNodeWithID(id) {
      return this.linkNodes.find((item) => {
        return id === item.properties.identifier;
      });
    },
    findLinkTarget(type) {
      return this.linkTargets.find((item) => {
        return type === item.type;
      });
    },
    showWidgetItemModal(index) {
      this.modalItem = this.localValue.widgetValue[index];
      if(this.modalItem.to !='' && this.findNodeWithID(this.modalItem.to) === undefined){
        this.modalItem.to  = '';
        this.noLongerAvailable = true;
      }
      this.openModal(this.widgetModalItemOptions).then(() => {
        this.modalItemInit = true;
      });
    },
    hideWidgetItemModal() {
      this.closeModal(true).then(() => {
        this.modalItemInit = false;
        this.modalItem = false;
        this.noLongerAvailable = false;
      });
    },
    removeButtonItem(index) {
      const removedLink = this.localValue.widgetValue[index];
      this.localValue.widgetValue.splice(index, 1);
      this.emitter(removedLink);
    },
    addButtonItem() {
      const newButton = {
        widgetId: this.id,
        id: this.generateUUID(),
        name: "",
        bgColour: "#3B5A9E",
        textColour: "#ffffff",
        colour: "#007bff",
        icon: "",
        to: "",
        from: this.currentNode.identifier,
        target: "_self",
        // HOTSPOT ADDITIONS
        type:'link',
        popoverPosition:'top',
        popoverTrigger:'click',
        size:'',
        shape:'round',
        animation:'',
        description:'',
        x:80,
        y:30,
      };
      this.localValue.widgetValue.splice(this.localValue.widgetValue.length,0,newButton);
      this.emitter();
    },
    // MODAL FUNCTIONS
    setBtnLinkTo(to) {
      this.$set(this.modalItem, "to", to);
      this.$nextTick(() => {
        this.emitter();
      });
    },
    setBtnlinkTarget(target) {
      this.$set(this.modalItem, "target", target);
      this.$nextTick(() => {
        this.emitter();
      });
    },
     removeImage() {
      this.$set(this.localValue.additional.settings,'image', '');
      this.emitter();
    },
    addImage(url) {
      this.$set(this.localValue.additional.settings,'image', url.file);
       this.$store.dispatch("liDynamic/UPDATE_COLLECTION_ITEM", {
        vm: this,
        identifier: url.file,
        item: {
          entity:"appcourt/api_document",
          properties: {
            identifier: url.file,
            account: this.currentProject.account,
            project: this.currentProject.identifier,
            presentation: this.currentNode.foreign_identifier,
            slide: this.currentNode.identifier,
            widget: this.componentId
          }
        },
        options: {
          silent: true,
          removeKey: 'identifier',
        },
      });
      this.emitter();
    },
  },
};
</script>



