<template>
  <div class="liBuilderDocument" :class="(value.widgetValue.path ==='')? 'liUpload':'liUploaded'" :key="'liBuilderFile'+componentId">
    <template v-if="value.widgetValue.path !=''">
      <b-button variant="primary" @click="removeImage" size="sm" class="btn-round remove ">
        <b-icon-trash />
      </b-button>
      <img :src="icons[value.widgetValue.type]" class="icon img-fluid" />
      <p class="filename">{{value.widgetValue.filename}}</p>
    </template>
    <template v-else>
        <liDropzoneBuilderFile :key="Date.now()" :currentProject="currentProject" v-model="value.widgetValue.path" @addImage="addImage"/>
    </template>
  </div>
</template>
<script>
import csv from '../../assets/images/SVG/liIcon-csv.svg';
import xls from '../../assets/images/SVG/liIcon-excel.svg';
import xlsx from '../../assets/images/SVG/liIcon-excel.svg';
import doc from '../../assets/images/SVG/liIcon-word.svg';
import docx from '../../assets/images/SVG/liIcon-word.svg';
import pdf from '../../assets/images/SVG/liIcon-pdf.svg';
export default {
  name:'liBuilderDocument',
  data() {
    return {
      icons:{
        'csv': csv,
        'xls' : xls,
        'xlsx' : xlsx,
        'doc': doc,
        'docx': docx,
        'pdf': pdf,
      },
      localValue:'',
    };
  },
  mounted(){
    this.localValue = this.value;
  },
  props: {
    value: null,
    id: null,
    name: null,
    currentNode: null,
    currentProject: null,
    linkNodes: null,
    design:null,
    componentId:null,
  },
  methods: {
    emitter() {
      this.$emit("input", this.localValue);
    },
    removeImage() {
      this.$set(this.localValue.widgetValue,'path', '');
      this.$set(this.localValue.widgetValue,'type', '');
      this.$set(this.localValue.widgetValue,'filename', '');
      this.$nextTick(()=>{
        this.emitter();
      });
    },
    addImage(url) {
      console.log('url',url)
      this.$set(this.localValue.widgetValue,'path', url.file);
      this.$set(this.localValue.widgetValue,'type', url.extension);
      this.$set(this.localValue.widgetValue,'filename', url.original_name);

      this.$store.dispatch("liDynamic/UPDATE_COLLECTION_ITEM", {
        vm: this,
        identifier: url.file,
        item: {
          entity:"appcourt/api_document",
          properties: {
            identifier: url.file,
            account: this.currentProject.account,
            project: this.currentProject.identifier,
            presentation: this.currentNode.foreign_identifier,
            slide: this.currentNode.identifier,
            widget: this.componentId
          }
        },
        options: {
          silent: true,
          removeKey: 'identifier',
        },
      });
      this.$nextTick(()=>{
        this.emitter();
      });
      
    },
  },
};
</script>

