<template>
  <main class="d-flex vh-100 p-0 bg-image cover color-overlay primary gradient"  :style="{ backgroundImage: `url(${images.imageHeader})` }">
    <vue-headful :title="pageTitle" />
    <div class="mx-auto p-5 align-self-center col-12 col-md-4" style="z-index: 2;">
      <b-alert :show="dismissCountDown" variant="dark" @dismiss-count-down="countDownChanged">
        <p>
          {{ statusText }}
          <br />
          <span class="small">You will be redirected after
            {{ dismissCountDown }} seconds...</span>
        </p>
        <b-progress variant="primary" :max="dismissSecs" :value="dismissCountDown" height="4px"></b-progress>
      </b-alert>
    </div>
  </main>
</template>

<script>
import imageHeader from "../../assets/images/pages/login/loginImage.jpg";
export default {
  name: "Logout",
  data() {
    return {
      pageTitle: this.createPageTitle("Logging out..."),
      dismissSecs: 2,
      dismissCountDown: 0,
       images: {
        imageHeader,
      },
      statusText:
        "We are logging you out, you will be automatically re-directed to the login page.",
    };
  },
  activated() {
    this.dismissCountDown = this.dismissSecs;
    this.liLoading = false;
    this.logout();
  },
  methods: {
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown <= 0 ? 0 : dismissCountDown;
    },
    logout() {
      this.$store.dispatch("auth/logout").then(() => {
        this.dismissCountDown = this.dismissSecs;
        let timeout = this.dismissSecs * 1000;
        setTimeout(() => {
          this.dismissSecs = 3;
          this.$router.push("/login");
        }, timeout);
      });
    },
  },
};
</script>