<template>
  <div class="liBuilderObject" v-if="!_.isEmpty(localValue)">
    <div class="w-100">
      <!-- <pre>{{localValue.fields}}</pre> -->
      <b-input-group>
        <b-input-group-prepend>
          <div class="input-group-text border-0 border-radius-0">
            <b>Table name:</b>
          </div>
        </b-input-group-prepend>
        <b-form-input :formatter="nameFormatter" v-model="localValue.table" class="bg-white" />
      </b-input-group>
    </div>
    <!-- WIDGET CONTET -->
    <div class="w-100 d-flex justify-content-between">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th class="liTableColumn">
                Name
              </th>
              <th class="liTableColumn">
                Type
              </th>
              <th class="liTableColumn">
                length
              </th>
              <th class="liTableColumn">
                Default
              </th>
              <th class="liTableColumn">
                Null?
              </th>
              <th class="liTableColumn">
                Primary?
              </th>
              <th class="liTableColumn">
                Auto increment?
              </th>
              <th width="70px"> </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(field, index) in localValue.fields" :key="index" class="liTableRow">
              <td class="liTableObjectColumn">
                <input v-model="field.field" class="form-control bg-white" :key="'_li_name'+index" />
              </td>
              <td class="liTableObjectColumn">
                <b-form-select v-model="field.type" :options="objectSettings.type" :key="'_li_type'+index" @change="updateFieldType(index)" />
              </td>
              <td class="liTableObjectColumn">
                <input v-model="field.constraint" :disabled="(field.type == 'TEXT')?true:false" class="form-control" :class="(field.type == 'TEXT')?'':'bg-white'" :key="'_li_null'+index" />
              </td>
              <td class="liTableObjectColumn">
                <input v-model="field.default" class="form-control bg-white" :key="'_li_default'+index" />
              </td>
              <td class="liTableObjectColumn text-center">
                <b-form-checkbox v-model="field.null" value="NO" unchecked-value="YES" :key="'_li_null'+index" />
              </td>
              <td class="liTableObjectColumn text-center">
                <b-form-checkbox v-model="field.key" value="PRI" unchecked-value="" :key="'_li_key'+index" />
              </td>
              <td class="liTableObjectColumn text-center">
                <b-form-checkbox v-model="field.extra" :disabled="(field.type != 'INT' && field.type != 'TINYINT'  )?true :false" value="auto_increment" unchecked-value="" :key="'_li_extra'+index" />
              </td>
              <td width="70px" class="liTableObjectColumn">
                <!-- REMOVE ITEM -->
                <b-dropdown right variant="link" class="d-inline-block  text-primary" size="xs" toggle-class="text-decoration-none" no-caret>
                  <template v-slot:button-content>
                    <b-icon-trash />
                  </template>
                  <div class="bg-dark p-2">
                    <p class="bg-dark small text-light float-left w-100 p-1 pl-2">
                      Remove field?
                    </p>
                    <b-button variant="danger" block @click.prevent="removeField(index)">
                      Remove
                    </b-button>
                  </div>
                </b-dropdown>
                <!-- MOVE ITEM 
                <b-icon-grip-vertical class="ml-1 d-inline-block text-primary handle cursor-move-v" />
                -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="w-100 addRow">
      <b-button variant="primary" size="sm" class="btn-round" @click.prevent="addField">
        <b-icon-plus />
      </b-button>
    </div>
  </div>
</template>
<script>
export default {
  name: "liEditTable",
  data() {
    return {
      localValue: null,
      newField: {
        field: "",
        type: "INT",
        constraint: null,
        null: false,
        default: "",
        unique: false,
      },
      tableItemOptions: {
        group: "objectItems",
        handle: ".handle",
        ghostClass: "ghost-builder-table-item",
        draggable: ".liTableRow",
        disabled: false,
      },
      objectSettings: {
        type: [
          { value: "VARCHAR", text: "Singleline text" },
          { value: "TEXT", text: "Multiline text" },
          { value: "INT", text: "Number" },
          { value: "TINYINT", text: "Small number" },
          { value: "DATETIME", text: "Date and time" },
        ],
      },
    };
  },
  props: {
    item: null,
  },
  mounted() {
    this.localValue = this._.cloneDeep(this.item);
    this.localValue.fields.forEach((field, index) => {
      let type, constraint;
      if (field.Type.includes("(")) {
        type = field.Type.substr(0, field.Type.indexOf("("));
        constraint = field.Type.substring(
          field.Type.lastIndexOf("(") + 1,
          field.Type.lastIndexOf(")")
        );
      } else {
        type = field.Type;
        constraint = "";
      }
      this.$set(field, "constraint", constraint);
      this.$set(field, "type", this._.upperCase(type));

      let newFields = Object.fromEntries(
        Object.entries(field).map(([k, v]) => [k.toLowerCase(), v])
      );
      this.$set(this.localValue.fields, index, newFields);
    });
  },
  methods: {
    nameFormatter(value) {
      return value
        .toString()
        .toLowerCase()
        .replace(/[^a-zA-Z0-9_-]/g, "");
    },
    removeField(index) {
      console.log("removeField", index);
    },
    addField() {
      console.log("addField");
    },
    updateFieldType(index) {
      if (
        this.localValue.fields[index].type != "TINYINT" &&
        this.localValue.fields[index].type != "INT"
      ) {
        this.$set(this.localValue.fields[index], "extra", "");
      }
      if (this.localValue.fields[index].type === "TEXT") {
        this.$set(this.localValue.fields[index], "constraint", "");
      }
    },
    updateFieldApi(index) {
      

      this.$nextTick(() => {
        this.$store.dispatch("liDatabase/UPDATE_FIELD", {
          vm: this,
          field: this.localValue.fields[index],
          object: this.localValue.table,
        }).then((response)=>{
          console.log(response);
        });
      });


    },
  },
};
</script>
