<template>
  <!-- Link -->

  <div class="settingsTemplate" v-if="selectedLink != null">
    <div style="background-color: white; padding: 30px">
      <!-- shape -->
      <label>Link</label>
      <hr />
      <b-form-group
        label-cols="4"
        label-cols-lg="2"
        label="Shape"
        label-for="input-shape"
      >
        <b-form-select
          id="input-default"
          v-model="selectedLink.shape"
          :options="this.shapes"
        ></b-form-select>
      </b-form-group>

      <!-- color -->
      <b-form-group
        label-cols="4"
        label-cols-lg="10"
        label="color"
        label-for="input-default"
      >
        <input type="color" v-model="selectedLink.color" />
      </b-form-group>

      <!-- start icon -->
      <b-form-group
        label-cols="8"
        label-cols-lg="8"
        label="Start icon"
        label-for="input-default"
      >
        <b-form-select
          id="input-default "
          v-model="selectedLink.iconStart"
          :options="iconStart"
        ></b-form-select>
      </b-form-group>

      <!-- iconEnd -->
      <b-form-group
        label-cols="8"
        label-cols-lg="8"
        label="End icon"
        label-for="input-default"
      >
        <b-form-select
          id="input-default "
          v-model="selectedLink.iconEnd"
          :options="iconEnd"
        ></b-form-select>
      </b-form-group>

      <b-form-group
        label-cols="4"
        label-cols-lg="2"
        label="Label"
        label-for="input-default"
      >
        <input v-model="selectedLink.text" />
      </b-form-group>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    selectedLink: Object,
  },
  data() {
    return {
      shapes: [
        { value: "straight", text: "straight" },
        { value: "hooked", text: "Straight with hooks" },
      ],
      iconStart: [
        { value: "fork", text: "fork" },
        { value: "none", text: "none" },
        { value: "many", text: "many" },
        { value: "oneOrMany", text: "one or many" },
        { value: "one", text: "one " },
      ],
      iconEnd: [
        { value: "arrow", text: "arrow" },
        { value: "none", text: "none" },
        { value: "many", text: "many" },
        { value: "oneOrMany", text: "one or many" },
        { value: "one", text: "one " },
      ],
    };
  },
};
</script>

<style scoped>
.settingsTemplate {
  height: auto;
  width: 300px;
  border: 1px solid black;
  float: right;
  padding: 20px;
  background-color: #f8f9fb;
}

.settingsLabels {
  padding-right: 100px;
}
</style>
