<template>
  <div
    class="liProcessNode"
    :style="nodeStyle"
    :class="{
      selected:
        options.selected != null &&
        options.selected.properties.id === node.properties.id,
      start: node.properties.start == 1,
      icon: node.properties.icon != null && node.properties.icon != '',
      portal: node.properties.type == 1,
      note: node.properties.type == 2,
      ifelse: node.properties.type == 4,
    }"
    @mousedown.prevent="handleMousedown"
    @mouseover="handleMouseOver"
    @mouseleave="handleMouseLeave"
    @mouseup.prevent="inputMouseUp"
  >
    <div
      class="node-main"
      :style="node.properties.type == 4 ? borderColorStyle : ''"
    >
      <!-- icon -->
      <span
        v-if="
            (node.properties.type == 0 || node.properties.type == 3) &&
            node.properties.icon != null &&
            node.properties.icon != ''
        "
        :class="node.properties.icon"
        class="node-icon"
        :style="'color:' + node.properties.colour"
      />
       <!-- IF ELSE NODE -->
      <span
        v-if="node.properties.type == 4"
        :class="
          node.properties.icon != null && node.properties.icon != ''
            ? node.properties.icon
            : 'fas fa-question'
        "
        class="node-icon"
        :style="'color:' + node.properties.colour"
      />
      <!-- label -->
      <div class="node-label"
       v-if="node.properties.type != 2"
       :style="'color:' + node.properties.textcolour"
      >
        <!-- DEFAULT OR CUSTOM -->
        <template
          v-if="
            (node.properties.type == 0 || node.properties.type == 3) &&
              !_.isEmpty(node.properties.name)
          "
        >
          {{ truncateString(node.properties.name, 30) }}
        </template>
        <!-- PORTAL -->
        <template
          v-else-if="
            node.properties.type == 1 && !_.isEmpty(node.properties.name)
          "
        >
          {{ truncateString(node.properties.name, 15) }}
        </template>
        <!-- NOTE -->
        <template v-else>
          {{ node.properties.name }}
        </template>
      </div>
      <!-- DESCRIPTION -->
      <div v-if="node.properties.type == 2" class="node-description">
        <div class="inner" v-html="node.properties.description"></div>
      </div>
    </div>
    <div
      v-if="node.properties.type == 3"
      class="node-custom-content"
      :style="{ 
        color: `${node.properties.colour}!important`,
        borderColor: `${node.properties.colour}!important`}"
      >
      <b-icon-columns class="custom-content-icon" />
    </div>
    <!-- CURRENT SLIDE? -->
    <b-icon
      icon="circle-fill"
      variant="success"
      class="node-current"
      animation="throb"
      v-if="options.currentSlide.properties.id === node.properties.id"
    ></b-icon>
    <!-- start? -->
    <div v-if="node.properties.start == 1" class="node-start">
      <b-icon-circle-fill variant="primary" class="start-icon" />
    </div>
    <!-- portal? -->
    <div v-if="node.properties.type == 1" class="node-portal">
      <b-icon-signpost-fill variant="primary" class="portal-icon" />
    </div>
    <!-- note? -->
    <div v-if="node.properties.type == 2" class="node-note">
      <b-icon-pencil-fill class="note-icon" />
    </div>
  </div>
</template>

<script>
export default {
  name: "liProcessNodeLive",
  props: {
    node: null,
    options: null,
    selected: null,
  },
  data() {
    return {
      show: {
        port: false,
      },
    };
  },
  computed: {
    nodeStyle() {
      return {
        top:
          this.options.centerY +
          Number(this.node.properties.y) * this.options.scale +
          "px",
        left:
          this.options.centerX +
          Number(this.node.properties.x) * this.options.scale +
          "px",
        transform:
          this.node.properties.type == 1
            ? `translateX(${this.options.scale * 40}px) scale(${
                this.options.scale
              })`
            : `scale(${this.options.scale})`,
        borderColor: `${this.node.properties.colour}!important`,
      };
    },
    borderColorStyle() {
      return {
        border: `1px solid`,
        borderColor: `${this.node.properties.colour}!important`,
      };
    },
  },
  methods: {
    handleMousedown(e) {
      if (this.node.properties.type != 2) {
        this.$emit("nodeSelect", e);
      }
    },
    handleMouseOver() {
      if (this.node.properties.type != 2) {
        this.show.port = true;
      }
    },
    handleMouseLeave() {
      if (this.node.properties.type != 2) {
        this.show.port = false;
      }
    },
    outputMouseDown() {},
    inputMouseUp() {},
  },
};
</script>
<style scoped>
.liProcessNode {
  cursor: pointer !important;
}
</style>
