<template>
  <b-modal v-model="value" 
  id="liLoginModal" 
  size="md" 
  title="Are you still there?" 
  header-bg-variant="primary" 
  header-text-variant="light" 
  body-bg-variant="white" 
  no-close-on-esc 
  no-close-on-backdrop 
  hide-header-close 
  hide-footer>
    <b-col cols="12" v-if="!needLogin">
      <p class="text-center" >
        For security reasons we need you to check in every hour. <br>
        To keep working please click the button below.
      </p>
      <b-button @click.prevent="reconnectUser" variant="primary"> Continue working </b-button>
    </b-col>
    <b-col cols="12"  v-else>
      <p class="text-center">
        For security reasons we need you to check in every hour. <br>
        Due to continue working we need you to enter your login credentials.
      </p>
      <form @submit.prevent="onSubmit" @reset="onReset" novalidate>
        <vue-form-generator :schema="loginSchema" :model="user" :options="formOptions" @validated="onValidated" ref="apcLoginForm" />
        <div class="pl-3 w-100 text-center">
          <b-button type="submit" variant="primary" pill class="px-5 my-3" :disabled="submitting == true">
            <b-spinner variant="primary" :small="true" label="Spinning" class="LI_spinnerInBtn" v-if="submitting == true"></b-spinner>
            <span v-else>Continue working</span>
          </b-button>
        </div>
      </form>
      <b-alert :show="dismissCountDown" variant="warning" class="position-fixed fixed-bottom m-0 rounded-0" style="z-index: 10" @dismissed="dismissCountDown = 0" @dismiss-count-down="countDownChanged">
        <p>{{ statusText }}<br /><span class="small">This alert will dismiss after{{ dismissCountDown }} seconds...</span></p>
        <b-progress variant="warning" :max="dismissSecs" :value="dismissCountDown" height="4px"></b-progress>
      </b-alert>
    </b-col>
  </b-modal>
</template>
<script>
import loginSchema from "../../assets/js/schemas/login.js";
export default {
  name: "Modal",
  data() {
    return {
      needLogin: true,
      timer: 600,
      user: {
        username: "",
        password: "",
      },
      isValid: false,
      submitting: false,
      show: true,
      statusText: "",
      dismissSecs: 6,
      dismissCountDown: 0,
      showDismissibleAlert: false,
      formOptions: {
        validateAfterLoad: false,
        validateAfterChanged: true,
        validateAsync: true,
      },
      loginSchema: loginSchema,
    };
  },
  props:{
    value:null,
  },
  watch:{
    value(val){
      if (val){
        this.startTimer();
      }
    }
  },
  methods: {
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },
    onSubmit() {
      this.submitting = true;
      this.$refs.apcLoginForm.validate().then((response) => {
        if (response && this.isValid) {
          this.liLoading = true;
          this.$store.dispatch("auth/login", this.user).then(
            () => {
              this.submitting = false;
              this.needLogin = false;
              this.timer = 600;
              this.liLoading = false;
              this.$emit('input',false);
            },
            (reject) => {
              this.statusText = reject;
              setTimeout(() => {
                this.showAlert();
                this.liLoading = false;
                this.submitting = false;
              }, 600);
            },
            // eslint-disable-next-line
            (error) => {
              this.statusText = error;
              setTimeout(() => {
                this.showAlert();
                this.liLoading = false;
                this.submitting = false;
              }, 600);
            }
          );
        } else {
          this.submitting = false;
        }
      });
    },
    // eslint-disable-next-line
    onValidated(isValid, errors) {
      this.isValid = isValid;
    },
    onReset(event) {
      event.preventDefault();
      // Reset our form values
      // Trick to reset/clear native browser form validation state
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    },
    reconnectUser() {
      this.liLoading = true;
      this.$store.dispatch("auth/reconnect").then((response) => {
        this.liLoading = false;
        if (response.status == 400 || response.status == "error") {
          this.needLogin = true;
        } else {
          this.needLogin = false;
          this.timer = 600;
          this.$emit('input',false);
        }
      });
    },
    startTimer(){
      let timeout = ()=> {
          if (this.timer > 1) {
              let interval = setTimeout(() => {
                  this.timer -= 1;
                  clearTimeout(interval);
                  timeout();
              }, 1000);
          } else {
              this.needLogin = true;
          }
      }
      timeout();
    }
  },
};
</script>