<template>
  <b-modal id="liModal" 
                        :content-class="(this.$store.state.liStatic.liModal.hideBackdrop)?'shadow':''"
                        :size="this.$store.state.liStatic.liModal.size" 
                        :title="this.$store.state.liStatic.liModal.headerTitle" 
                        :header-bg-variant="this.$store.state.liStatic.liModal.headerBgVariant" 
                        :header-text-variant="this.$store.state.liStatic.liModal.headerTextVariant" 
                        :body-bg-variant="this.$store.state.liStatic.liModal.bodyBgVariant" 
                        :scrollable="this.$store.state.liStatic.liModal.scrollable"
                        :no-close-on-esc="this.$store.state.liStatic.liModal.noCloseOnEsc"
                        :no-close-on-backdrop="this.$store.state.liStatic.liModal.noCloseOnBackdrop"
                        :hide-header-close="this.$store.state.liStatic.liModal.hideHeaderClose"
                        :hide-backdrop="this.$store.state.liStatic.liModal.hideBackdrop"
                        hide-footer
                        >
    <portal-target name="liModalContent" />
  </b-modal>
</template>
<script>
export default {
  name: "Modal",
  // METHODS FOR THIS MODAL ARE LOCATED IN @/mixins/liModalMixin.js
};
</script>