
<template>
<!-- `${currentPresentation.properties.brandingSettings.navbarBgColor}!important` -->
  <b-navbar
    v-if="!_.isEmpty(account)"
    type="dark"
    fixed="top"
    variant="primary"
    :class="$route.name"
    style="z-index:1009!important;"
    :style="{
      backgroundColor: (currentPresentation != 'error')? `${currentPresentation.properties.brandingSettings.navbarBgColor}!important`:`${account.properties.brandingSettings.navbarBgColor}!important`,
      color: (currentPresentation != 'error')? `${currentPresentation.properties.brandingSettings.navbarTextColor}!important`:`${account.properties.brandingSettings.navbarTextColor}!important`
    }"
  >
    <!-- :variant="transparent" -->
    <b-navbar-brand>
      <b-btn
        to="/"
        variant="transparent"
        :class="
          getContrastYIQ(account.properties.brandingSettings.navbarBgColor) ==
          'white'
            ? ''
            : 'bg-white'
        "
        class="btn-round p-1"
        v-if="!liPresenting"
      >
        <svg
          version="1.1"
          id="appcourtLogo"
          x="0px"
          y="0px"
          viewBox="0 0 300 300"
        >
          <g>
            <!-- class="fill-white" -->
            <path
              :class="
                getContrastYIQ(
                  account.properties.brandingSettings.navbarBgColor
                ) == 'white'
                  ? 'fill-white'
                  : 'fill-primary'
              "
              d="M75.3,110.3c12-29.2,40.8-49.8,74.2-49.8c33.6,0,62.4,20.8,74.4,50.1L300,288.2V0H0v285.8 L75.3,110.3L75.3,110.3z"
            ></path>
            <path
              :class="
                getContrastYIQ(
                  account.properties.brandingSettings.navbarBgColor
                ) == 'white'
                  ? 'fill-white'
                  : 'fill-primary'
              "
              d="M149.5,84.3c-31.2,0-56.6,25.4-56.6,56.6c0,31.2,25.4,56.6,56.6,56.6s56.6-25.4,56.6-56.6 c0-7.4-1.5-14.5-4.1-21l-0.1-0.2l0,0C193.5,99,173.2,84.3,149.5,84.3z"
            ></path>
            <path
              :class="
                getContrastYIQ(
                  account.properties.brandingSettings.navbarBgColor
                ) == 'white'
                  ? 'fill-white'
                  : 'fill-primary'
              "
              d="M223.9,170.9c-11.9,29.4-40.8,50.3-74.4,50.3c-33.7,0-62.5-20.9-74.4-50.3L19.7,300h259.5 L223.9,170.9z"
            ></path>
          </g>
        </svg>
      </b-btn>
      <b-btn
        variant="transparent" 
        :class="(getContrastYIQ(account.properties.brandingSettings.navbarBgColor) == 'white')? '': 'bg-white'"
        class="btn-round p-1 cursor-default"
        v-else
      >
        <svg
          version="1.1"
          id="appcourtLogo"
          x="0px"
          y="0px"
          viewBox="0 0 300 300"
        >
          <g>
            <path
              :class="
                getContrastYIQ(
                  account.properties.brandingSettings.navbarBgColor
                ) == 'white'
                  ? 'fill-white'
                  : 'fill-primary'
              "
              d="M75.3,110.3c12-29.2,40.8-49.8,74.2-49.8c33.6,0,62.4,20.8,74.4,50.1L300,288.2V0H0v285.8 L75.3,110.3L75.3,110.3z"
            ></path>
            <path
              :class="
                getContrastYIQ(
                  account.properties.brandingSettings.navbarBgColor
                ) == 'white'
                  ? 'fill-white'
                  : 'fill-primary'
              "
              d="M149.5,84.3c-31.2,0-56.6,25.4-56.6,56.6c0,31.2,25.4,56.6,56.6,56.6s56.6-25.4,56.6-56.6 c0-7.4-1.5-14.5-4.1-21l-0.1-0.2l0,0C193.5,99,173.2,84.3,149.5,84.3z"
            ></path>
            <path
              :class="
                getContrastYIQ(
                  account.properties.brandingSettings.navbarBgColor
                ) == 'white'
                  ? 'fill-white'
                  : 'fill-primary'
              "
              d="M223.9,170.9c-11.9,29.4-40.8,50.3-74.4,50.3c-33.7,0-62.5-20.9-74.4-50.3L19.7,300h259.5 L223.9,170.9z"
            ></path>
          </g>
        </svg>
      </b-btn>
    </b-navbar-brand>
    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
    <div
      class="liAccountLogo shadow"
      v-if="
        account != null &&
          account.properties.logo != null &&
          account.properties.logo != ''
      "
    >
      <img
        :src="`${apiPublicPath}?guid=${guid}&file=${account.properties.logo}`"
        class="img-logo"
      />
    </div>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav
        class="ml-auto"
        v-if="!liPresenting && app_user != null"
        :class="
          account != null &&
          account.properties.logo != null &&
          account.properties.logo != ''
            ? 'hasAccountLogo'
            : ''
        "
      >
        <b-nav-item-dropdown
          id="dropdown-1"
          variant="link"
          class="text-white"
          size="sm"
          right
        >
          <template #button-content>
            <span
              :style="{
                color: `${account.properties.brandingSettings.navbarTextColor}!important`,
              }"
              >{{ app_user.name }}</span
            >
          </template>
          <b-dropdown-text style="width: 240px;" class="text-center">
            <b-avatar
              size="xl"
              variant="primary"
              class="my-3"
              :src="app_user.avatar"
            ></b-avatar
            ><br />
            <h4>{{ app_user.name }}</h4>

            <!-- ACCOUNTS -->
            <p
              class="p-0 mt-2 small"
              v-if="app_user != 'error' && currentAccount"
            >
              <template
                v-if="
                  $route.name == 'dashboard' && app_user.accounts.length > 1
                "
              >
                <b-dropdown-form class="p-0">
                  <b-select
                    v-model="currentAccount"
                    size="sm"
                    class="d-inline-block w-75"
                  >
                    <template v-for="account in app_user.accounts">
                      <b-form-select-option
                        :key="account.id"
                        :value="account.id"
                        >{{ account.name }}</b-form-select-option
                      >
                    </template>
                  </b-select>
                  <b-button
                    variant="link"
                    class="btn-round p-0   mb-1"
                    size="xs"
                    id="editCurrentAccount"
                    @click.prevent="editCurrentAccount"
                  >
                    <b-icon font-scale=".95" icon="pencil"></b-icon>
                  </b-button>
                </b-dropdown-form>
              </template>
              <template v-else>
                {{ accountName() }}
                <b-button
                  variant="link"
                  class="btn-round p-0 mb-1"
                  size="xs"
                  id="editCurrentAccount"
                  @click.prevent="editCurrentAccount"
                >
                  <b-icon font-scale=".95" icon="pencil"></b-icon>
                </b-button>
              </template>
            </p>
            <!-- END ACCOUNTS -->
          </b-dropdown-text>
          <b-dropdown-divider></b-dropdown-divider>
          <b-dropdown-item to="/logout" class="mb-2 text-center">
            Logout
          </b-dropdown-item>
        </b-nav-item-dropdown>
        <b-nav-text> </b-nav-text>
      </b-navbar-nav>
    </b-collapse>
    <!-- PORTAL TO ACCOUNT SETTINGS MODAL -->
    <portal to="liModalContent" v-if="editAccountModal">
      <b-row class="pt-2 pb-5">
        <b-col cols="10" class="m-auto d-table text-center my-3">
          <div
            class="accountLogo"
            :class="
              account.properties.logo == null || account.properties.logo == ''
                ? 'none'
                : 'logo border'
            "
          >
            <template
              v-if="
                account.properties.logo == null || account.properties.logo == ''
              "
            >
              <liDropzoneBuilderImage
                v-model="account.properties.logo"
                @addImage="addLogo"
              />
            </template>
            <template v-else>
              <b-button
                variant="primary"
                @click="removeLogo"
                size="sm"
                class="btn-round remove "
              >
                <b-icon-trash />
              </b-button>
              <img
                :src="
                  `${apiPublicPath}?guid=${guid}&file=${account.properties.logo}`
                "
                class="img-logo"
              />
            </template>
          </div>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="10" class="m-auto">
          <p>
            <b>{{ account.properties.name }}</b
            ><br />
            {{ account.properties.addressLine1 }}<br />
            <template v-if="!_.isEmpty(account.properties.addressLine2)">
              {{ account.properties.addressLine2 }}<br />
            </template>
            {{ account.properties.postcode }}, {{ account.properties.city
            }}<br />
            {{ account.properties.country }}<br />
            <template v-if="!_.isEmpty(account.properties.VATnumber)">
              <br />
              <b>VAT number</b><br />
              {{ account.properties.VATnumber }}<br />
            </template>
            <template v-if="!_.isEmpty(account.properties.COCnumber)">
              <br />
              <b>CoC number</b><br />
              {{ account.properties.COCnumber }}<br />
            </template>
          </p>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="10" class="m-auto">
          <hr />
          <p class="pt-2">
            Header Background colour

            <liColorFieldSmall
              @changeColor="updateAccount"
              class="d-inline-block float-right"
              containerClass="mr-2"
              showRemove="1"
              type="sketch"
              size="sm"
              v-model="account.properties.brandingSettings.navbarBgColor"
              :key="`changeColor${account.properties.id}`"
            />
          </p>
          <p class="pt-2 pb-3">
            Header text colour

            <liColorFieldSmall
              @changeColor="updateAccount"
              class="d-inline-block float-right"
              containerClass="mr-2"
              showRemove="1"
              type="sketch"
              size="sm"
              v-model="account.properties.brandingSettings.navbarTextColor"
              :key="`changeColor${account.properties.id}`"
            />
          </p>
          <hr />
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12" class="pt-5 pb-3 text-center">
          <hr />
          <b-button
            @click.prevent="hideModal"
            variant="primary"
            pill
            class="mt-3 px-5"
            >Close</b-button
          >
        </b-col>
      </b-row>
    </portal>
  </b-navbar>
</template>
<script>
const API_URL_PUBLIC = process.env.VUE_APP_API_VIEW_URL;
export default {
  name: "liNavbar",
  data() {
    return {
      guid: localStorage.getItem("liSession"),
      apiPublicPath: API_URL_PUBLIC,
      editAccountModal: false,
      editAccountOptions: {
        headerTitle: "",
        headerBgVariant: "light",
        headerTextVariant: "dark",
        bodyBgVariant: "white",
        size: "md",
        scrollable: false,
        noCloseOnEsc: true,
        noCloseOnBackdrop: true,
        hideHeaderClose: true,
        hideBackdrop: false,
      },
    };
  },
  mounted() {
    this.setup();
  },
  computed: {
    currentPresentation(){
      if(this.liPresenting){
        let test = this.$store.getters["liDynamic/getCollectionItem"](
          "presentation_" + this.$route.params.identifier
        );
        if (test != 'error' && typeof test.properties.brandingSettings == "string"){
          test.properties.brandingSettings = JSON.parse(test.properties.brandingSettings);
        }
        return test;
      } else {
        return 'error';
      }
    },
    account: {
      get() {
        return this.$store.getters["liDynamic/getAccount"];
      },
    },
    currentAccount: {
      get() {
        return this.$store.getters["auth/getAccount"];
      },
      set(val) {
        this.$store.dispatch("auth/SET_ACOUNT", val);
      },
    },
    _li_api_menu() {
      return this.$store.getters["liDynamic/getCollection"]("_li_api_menu");
    },
    _li_api_menu_config() {
      return this.$store.getters["liDynamic/getCollection"](
        "_li_api_menu_config"
      );
    },
  },
  watch: {
    currentAccount(val) {
      if (this.account.properties.id != val) {
        this.setup();
      }
    },
    account(val) {
      if (
        val.properties.brandingSettings == null ||
        val.properties.brandingSettings == "null"
      ) {
        this.$set(this.account.properties, "brandingSettings", {
          navbarBgColor: "#3B5A9E",
          navbarTextColor: "#FFFFFF",
          bodyBgColor: "#FFFFFF",
          bodyTextColor: "#212529",
          footer: false,
          header: false,
        });
      } else {
        if (typeof val.properties.brandingSettings == "string") {
          this.$set(
            this.account.properties,
            "brandingSettings",
            JSON.parse(val.properties.brandingSettings)
          );
        }
      }
    },
  },
  methods: {
    updateAccount() {
      this.$set(
        this.account.properties,
        "identifier",
        this.account.properties.id
      );
      let accountUpdate = this._.cloneDeep(this.account);
      accountUpdate.properties.brandingSettings = JSON.stringify(
        accountUpdate.properties.brandingSettings
      );
      this.$store.dispatch("liDynamic/UPDATE_COLLECTION_ITEM", {
        vm: this,
        item: accountUpdate,
        options: {
          silent: false,
          removeKey: "identifier",
          addUpdateFields: "no",
        },
      });
    },
    addLogo(url) {
      this.$set(this.account.properties, "logo", url.file);
      this.$set(
        this.account.properties,
        "identifier",
        this.account.properties.id
      );
      let accountUpdate = this._.cloneDeep(this.account);
      accountUpdate.properties.brandingSettings = JSON.stringify(
        accountUpdate.properties.brandingSettings
      );
      this.$store.dispatch("liDynamic/UPDATE_COLLECTION_ITEM", {
        vm: this,
        item: accountUpdate,
        options: {
          silent: true,
          removeKey: "identifier",
          addUpdateFields: "no",
        },
      });
    },
    removeLogo() {
      this.$set(this.account.properties, "logo", "");
      this.$set(
        this.account.properties,
        "identifier",
        this.account.properties.id
      );
      let accountUpdate = this._.cloneDeep(this.account);
      accountUpdate.properties.brandingSettings = JSON.stringify(
        accountUpdate.properties.brandingSettings
      );

      this.$store.dispatch("liDynamic/UPDATE_COLLECTION_ITEM", {
        vm: this,
        item: accountUpdate,
        options: {
          silent: true,
          removeKey: "identifier",
          addUpdateFields: "no",
        },
      });
    },
    hideModal() {
      this.liLoading = true;
      this.editAccountModal = false;
      this.closeModal(true).then(() => {
        this.liLoading = false;
      });
    },
    editCurrentAccount() {
      this.liLoading = true;
      this.editAccountModal = true;
      this.editAccountOptions.headerTitle = `Account settings for ${this.account.properties.name}`;
      this.openModal(this.editAccountOptions).then(() => {
        this.liLoading = false;
      });
    },
    accountName() {
      let currentAccountFull = this.app_user.accounts.find((item) => {
        return item.id == this.currentAccount;
      });
      return currentAccountFull.name;
    },
    setup() {
      this.$store
        .dispatch("liDynamic/GET_COLLECTION_ITEM", {
          vm: this,
          object: "account",
          id: this.currentAccount,
          options: {
            update: "store",
          },
        })
        .then(() => {
          // this.editCurrentAccountValue = response;
        });
    },
  },
};
</script>
