<template>
  <div class="liDashboard">
    <!-- PageTitle -->
    <vue-headful :title="pageTitle" />
    <b-container class="mt-3 bg-light rounded p-3">
      <liGridDashboard :greetings="getHoursCondition" />
    </b-container>
  </div>
</template>

<script>

export default {
  name: "Dashboard",
  data() {
    return {
      pageTitle: this.createPageTitle("Welcome..."),
      getHoursCondition: "",
    };
  },
  methods: {
    getHours(_time) {
      this.$nextTick(() => {
        _time = _time.getHours();
        if (_time >= 1 && _time < 12) {
          this.getHoursCondition = "Good morning";
        } else if (_time >= 12 && _time < 18) {
          this.getHoursCondition = "Good afternoon";
        } else if (_time >= 18 && _time <= 24) {
          this.getHoursCondition = "Good evening";
        } else {
          this.getHoursCondition = "Uhh..., there seems to be no time ";
        }
      });
    },
  },
  activated() {
    this.liPresenting = false;
    this.liLoading = false;
    this.getHours(new Date());
  }
};
</script>
