<template>
  <div :class="block.styleClasses" class="dashboard">
    <b-jumbotron class="mt-3  py-4 pb-5 bg-white shadow">
      <h1 class="pt-4 m-0 mb-0 ">{{ greetings }} {{ app_user.name }}</h1>
      <p class="mt-2 mb-4 pb-0  small text-muted">Your last login was @ {{  timeAgo(app_user.mostRecentLogin) }}</p>
      <b-row
        class="mx-0 mt-3"
        v-if="
          this.block.listSettings.addInline || this.block.listSettings.search
        "
      >
        <template v-if="this.block.listSettings.addInline">
          <b-input-group class="col-12 col-md-6 pl-md-0">
            <b-form-input
              autocomplete="off"
              v-model="newItem.name"
              :placeholder="'Type to add ' + block.listSettings.addInlineLabel"
              @keypress.enter="addItem"
            />
            <b-input-group-append>
              <b-button
                variant="outline-primary"
                class="round"
                @click.prevent="addItem"
              >
                <b-icon-plus />
              </b-button>
            </b-input-group-append>
          </b-input-group>
        </template>
        <template v-if="this.block.listSettings.search">
          <b-input-group class="col-12 col-md-6 pr-md-0">
            <b-form-input
              v-model="search"
              debounce="200"
              :placeholder="
                'Type to search ' + block.listSettings.searchInlineLabel
              "
            />
            <b-input-group-append v-if="search != ''">
              <b-button
                variant="outline-dark"
                class="round"
                @click.prevent="clearSearch"
              >
                <b-icon-x />
              </b-button>
            </b-input-group-append>
          </b-input-group>
        </template>
      </b-row>
    </b-jumbotron>
    <b-container class="p-0 position-relative">
      <liComponentLoader v-if="componentLoading" />
      <template v-if="treeItems.length == 0">
        <div class="h-100 d-flex w-100">
          <div class="m-auto text-center">
            <div style="font-size: 4rem;">
              <svg
                version="1.1"
                id="appcourtLogo"
                x="0px"
                y="0px"
                viewBox="0 0 300 300"
                class="bg-primary d-inline-block mb-4 p-1 rounded-circle"
                style="width:60px;"
              >
                <g>
                  <path
                    class="fill-white"
                    d="M75.3,110.3c12-29.2,40.8-49.8,74.2-49.8c33.6,0,62.4,20.8,74.4,50.1L300,288.2V0H0v285.8 L75.3,110.3L75.3,110.3z"
                  ></path>
                  <path
                    class="fill-white"
                    d="M149.5,84.3c-31.2,0-56.6,25.4-56.6,56.6c0,31.2,25.4,56.6,56.6,56.6s56.6-25.4,56.6-56.6 c0-7.4-1.5-14.5-4.1-21l-0.1-0.2l0,0C193.5,99,173.2,84.3,149.5,84.3z"
                  ></path>
                  <path
                    class="fill-white"
                    d="M223.9,170.9c-11.9,29.4-40.8,50.3-74.4,50.3c-33.7,0-62.5-20.9-74.4-50.3L19.7,300h259.5 L223.9,170.9z"
                  ></path>
                </g>
              </svg>
            </div>
            <h4>No projects found...</h4>
            <p>
              Please add a project or try another search term
            </p>
          </div>
        </div>
      </template>
      <liGridItem
        v-if="liLoading == false && treeItems != 'error'"
        v-model="treeItems"
        :class="treeOptions.options.disabled == true ? 'disabled' : ''"
        :disabled="treeOptions.options.disabled"
        :treeOptions="treeOptions"
        :level="1"
        :key="`grid_${additionalName}`"
        :refreshStatus="refreshStatus"
        @refresh="refresh"
      />
    </b-container>
  </div>
</template>
<script>
const API_URL_PUBLIC = process.env.VUE_APP_API_VIEW_URL;
export default {
  name: "liGridDashboard",
  props: {
    greetings: null,
  },
  data() {
    return {
      componentLoading: false,
      refreshStatus: false,
      apiPublicPath: API_URL_PUBLIC,
      guid: localStorage.getItem("liSession"),

      block: {
        label: "Your projects",
        type: "list",
        fields: ["name"],
        object: "appcourt/api_project",
        object_where: "",
        object_orderBy: "sequence",
        componentSettings: {
          label: "projects",
          plural: "projects",
          single: "project",
        },
        listSettings: {
          search: true,
          sortable: true,
          sortableLevels: 1,
          searchFields: ["name"],
          addInlineLabel: "a new project",
          label: "",
          addInline: true,
          searchInlineLabel: "for a project",
          fields: ["name"],
          fieldsActions: ["edit", "delete"],
          linkColumn: "identifier",
          linkQueryString: true,
          requestQueryString: false,
          requestQueryMap: false,
          insertForeignKey: false,
          foreignKey: false,
        },
        actions: [
          {
            mainLink: "b1cd84d2-a5e8-4d22-900b-ec9197f02b71",
            mainLinkSettings: {
              modalHeaderTitle: "",
              modalHeaderBgVariant: "",
              modalHeaderTextVariant: "",
              modalType: "",
            },
            editLink: "",
            editLinkSettings: {
              modalHeaderTitle: "",
              modalHeaderBgVariant: "",
              modalHeaderTextVariant: "",
              modalType: "",
            },
            viewLink: "",
            viewLinkSettings: {
              modalHeaderTitle: "",
              modalHeaderBgVariant: "",
              modalHeaderTextVariant: "",
              modalType: "",
            },
          },
        ],
      },
      newItem: {
        name: "",
      },
      search: "",
    };
  },
  mounted() {
    this.setup();
  },
  activated() {
    this.setup();
  },
  computed: {
     account: {
      get() {
        return this.$store.getters["liDynamic/getAccount"];
      },
    },
    currentAccount: {
      get() {
        return this.$store.getters["auth/getAccount"];
      },
      set(val) {
        this.$store.dispatch("auth/SET_ACOUNT", val);
      },
    },
    additionalName() {
      return "grid_" + this.block.object;
    },
    treeOptions() {
      return {
        additionalName: "grid_" + this.block.object,
        object: this.block.object,
        listSettings: this.block.listSettings,
        actions: this.block.actions[0],
        linkColumn: this.block.listSettings.linkColumn,
        options: {
          group: "items",
          disabled: !this.block.listSettings.sortable,
          handle: ".handle",
          fallbackOnBody: "true",
          swapThreshold: "0.65",
          ghostClass: "ghost-tree",
        },
      };
    },
    query_object_where() {
      let query_object_where = "";
      if (
        this.block.listSettings.requestQueryString &&
        !this._.isEmtpty(this.$route.query)
      ) {
        for (const [key, value] of Object.entries(this.$route.query)) {
          let foreign_key = this.block.listSettings.requestQueryMap[key];
          query_object_where += foreign_key + "[=>]" + value;
        }
      }
      return query_object_where;
    },
    treeItems() {
      return this.search != ""
        ? this.searchList(
            this.$store.getters["liDynamic/getCollection"](this.additionalName),
            this.search
          )
        : this.$store.getters["liDynamic/getCollection"](this.additionalName);
    },
  },
  watch: {
    search(val) {
      if (this.block.listSettings.sortable) {
        this.treeOptions.options.disabled = val != "" ? true : false;
      }
    },
    currentAccount() {
      this.setup();
    },
  },
  methods: {
    accountName() {
      let currentAccountFull = this.app_user.accounts.find((item) => {
        return item.id == this.currentAccount;
      });
      return currentAccountFull.name;
    },
    refresh() {
      this.refreshStatus = true;
      this.getTree();
    },
    // CREATE ITEM
    addItem() {
      if (!this._.isEmpty(this.newItem.name)) {
        this.newItem.parent = "root";
        this.newItem.account = this.currentAccount;
        this.newItem.logo = this._.cloneDeep(this.account.properties.logo);
        this.newItem.brandingSettings = this._.cloneDeep(this.account.properties.brandingSettings);
        if(typeof this.newItem.brandingSettings == "object"){
          this.newItem.brandingSettings = JSON.stringify(this.account.properties.brandingSettings);
        }
        this.newItem.sequence = 0;
        if (
          this.block.listSettings.insertForeignKey &&
          !this._isEmpty(this.$route.query)
        ) {
          for (const [key, value] of Object.entries(this.$route.query)) {
            if (this.block.listSettings.requestQueryMap[key]) {
              let foreign_key = this.block.listSettings.requestQueryMap[key];
              this.newItem[foreign_key] = value;
            }
          }
        }
        this.newItem.identifier = this.generateUUID();
        this.$store
          .dispatch("liDynamic/CREATE_COLLECTION_ITEM", {
            vm: this,
            object: this.block.object,
            item: this.newItem,
            options: {
              silent: true,
            },
          })
          .then(() => {
            this.newItem.name = "";
            delete this.newItem.parent;
            delete this.newItem.sequence;
            this.$nextTick(() => {
              this.refresh();
            });
          });
      } else {
        this.$bvToast.toast(
          `The name of the ${this.block.componentSettings.single.toLowerCase()} can't be empty`,
          {
            title: "Please fill in a name",
            autoHideDelay: 5000,
          }
        );
      }
    },
    // SEARCH FUNCTIONS
    searchList(input, search) {
      if (input != "error") {
        var copy = (o) => {
          return Object.assign({}, o);
        };
        var result = input.map(copy).filter(function f(item) {
          if (item.properties.name.toLowerCase().includes(search.toLowerCase()))
            return true;

          if (item.properties.children) {
            return (item.properties.children = item.properties.children
              .map(copy)
              .filter(f)).length;
          }
        });
        return result;
      }
    },
    clearSearch() {
      this.search = "";
    },
    // SETUP FUNCTIONS
    setup() {
      this.getTree();
    },
    // GET THE TREE FROM SERVER
    getTree() {
      
      this.componentLoading = true;
      this.$store
        .dispatch("liDynamic/GET_COLLECTION", {
          vm: this,
          object: this.treeOptions.object,
          group: "*",
          additionalName: this.treeOptions.additionalName,
          where: `account=${this.currentAccount}`,
          orderBy: this.block.object_orderBy,
        })
        .then(() => {
          let timeout = setTimeout(() => {
            clearTimeout(timeout);
            this.componentLoading = false;
            this.refreshStatus = false;
          }, 1000);
        });
    },
  },
};
</script>
