// BUILDER TEXT WIDGET
.liBuilderText {
  width: 100%;

  .liImg-explainImage {
    width: 340px;
    position: absolute;
    top: 70px;
    left: 20px;
  }
  .ck{
    &.ck-editor__top{
      position: sticky!important;
      top:0;
    }
    &.ck-editor__editable_inline{
      padding-left:0px!important;
      > :first-child{
        margin-top:0!important;
      }
    }
    
  }
  .ck-content {
    min-height: 90px;
  }
}

/*
 * LIVE BUILDER STYLING
 */
.liBuilderTextLive {
  // .ck.ck-content {
  //   background: transparent;
  // }
  
  // .ck-widget {
  //   &:hover {
  //     outline: transparent;
  //   }

  //   .ck-widget__selection-handle {
  //     display: none;
  //   }
  // }
}