<template>
  <div
    id="app"
    :class="{ _loggedIn: app_user != 'error' && 'error' in app_user != true }"
  >
    <!-- THE MAIN LOADER -->
    <liLoader />
    <!--  SHARES -->
    <liNavbarShare
      v-if="$route.matched.some(({ name }) => name === 'shares')"
    />
    <!-- LOGGED IN -->
    <transition name="fade" mode="out-in">
      <keep-alive>
        <router-view :key="$route.path" />
      </keep-alive>
    </transition>
    <!-- NOT LOGGED IN -->
    <template v-if="app_user != 'error' && 'error' in app_user != true">
      <!-- <b-badge variant="light" style="z-index: 1010; position: fixed; right: -6px; top: -16px;" class="font-weight-normal"><span class="pt-2 d-block px-2 mt-2">Expirimental: {{loggedInTimer}}</span></b-badge> -->
      <liNavbar v-if="!$route.matched.some(({ name }) => name === 'shares')" />
      <portal-target name="asidePortal" />
      <portal-target name="builderPortal" />
      <liModal />
      <liLoginModal v-model="loggedInStatus" />
    </template>
  </div>
</template>
<script>
export default {
  name: "App",
};
</script>
<style lang="scss">
@import "./assets/scss/index.scss";
</style>