<template v-cloak>
  <div v-if="block.value != ''" class="liBuilderImageLive builderWidget" :style="!_.isEmpty(componentStyle)?componentStyle :'' " :class="componentClass">
    <div class="inner w-100 d-block">
      <img :src="`${apiPublicPath}?guid=${guid}&file=${block.value.widgetValue}`" class="img-fluid" />
     </div>
  </div>
</template>
<script>
const API_URL_PUBLIC = process.env.VUE_APP_API_VIEW_URL;
export default {
  name: "liBuilderImageLive",
  data(){
    return{
      apiPublicPath: API_URL_PUBLIC,
      guid:localStorage.getItem('liSession'),
    }
  },
  props: {
    block: null,
    componentStyle:null,
    componentClass:null,
  },
};
</script>