<template v-cloak>
  <div
    v-if="block.value != ''"
    class="liBuilderDocumentLive builderWidget"
    :style="!_.isEmpty(componentStyle) ? componentStyle : ''"
    :class="componentClass"
  >
    <div class="inner d-block position-relative w-100">
      <img :src="icons[block.value.widgetValue.type]" class="icon img-fluid" />
      <p class="filename">{{ block.value.widgetValue.filename }}</p>
      <b-button
        variant="primary"
        @click="openDocument"
        size="sm"
        class="download "
      >
        <b-icon-download class="mr-2 d-inline-block" />
        <span class="d-inline-block">download</span>
      </b-button>
    </div>
  </div>
</template>
<script>
const API_URL_PUBLIC = process.env.VUE_APP_API_VIEW_URL;
import csv from "../../../assets/images/SVG/liIcon-csv.svg";
import xls from "../../../assets/images/SVG/liIcon-excel.svg";
import xlsx from "../../../assets/images/SVG/liIcon-excel.svg";
import doc from "../../../assets/images/SVG/liIcon-word.svg";
import docx from "../../../assets/images/SVG/liIcon-word.svg";
import pdf from "../../../assets/images/SVG/liIcon-pdf.svg";
export default {
  name: "liBuilderDocumentLive",
  data() {
    return {
      icons: {
        csv: csv,
        xls: xls,
        xlsx: xlsx,
        doc: doc,
        docx: docx,
        pdf: pdf,
      },
      apiPublicPath: API_URL_PUBLIC,
      guid: localStorage.getItem("liSession"),
    };
  },
  props: {
    block: null,
    componentStyle: null,
    componentClass: null,
  },
  methods: {
    openDocument() {
      window.open(
        `${this.apiPublicPath}?guid=${this.guid}&file=${this.block.value.widgetValue.path}`,
        "_blank"
      );
    },
  },
};
</script>
