<template>
  <div class="table-responsive mr-2 liBuilderTableLive builderWidget" :style="!_.isEmpty(componentStyle)?componentStyle :'' " :class="componentClass">
    <table class="table">
      <thead>
        <template v-for="(header, index) in block.value.widgetValue.headers">
          <th :key="index" class="liTableColumn liTableColumnLive header">
            {{header.label}}
          </th>
        </template>
      </thead>
      <tbody>
        <tr v-for="(item, index) in block.value.widgetValue.items" :key="index" class="liTableRow liTableRowLive">
          <template v-for="(comlumnId, index) in block.value.widgetValue.headers">
            <td :key="index">
              {{item[comlumnId.id]}}
            </td>
          </template>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
export default {
  name: "liBuiderTableLive",
  props: {
    block: null,
     componentStyle:null,
    componentClass:null,
  },
};
</script>