<template>
  <div  v-if="block.value != ''" class="liBuilderiFrameLive builderWidget" :style="!_.isEmpty(componentStyle)? componentStyle :'' " v-resize @resize="iFrameContainerResize" >
    <template v-if="block.value.widgetValue != '' && block.value.widgetValue.startsWith('https://') || block.value.widgetValue.startsWith('http://')" >
      <div class="iFrameContainer" :style="'height:'+iFrameContainer[1]+'px;'">
        <vue-friendly-iframe :src="block.value.widgetValue"/>
      </div>
    </template>
  </div>
</template>
<script>
export default {
  name:'liBuilderiFrameLive',
  data() {
    return {
      iFrameContainer: [0,0]
    };
  },
  props: {
    block: null,
    componentStyle:null,
    componentClass:null,
  },
  methods: {
    iFrameContainerResize(e) {
      this.iFrameContainer = [e.detail.width, e.detail.height];
    },
  }
};
</script>
